{% extends 'base.html.twig' %}

{% set pagetitle = 'Product Wishlist'|trans %}
{% block title pagetitle %}

{% block body %}
    <section class="pt-sm-7">
        <div class="container pt-3 pt-xl-5">
            <div class="row">
                {% include "global/dashboard-items-navbar-vertical.html.twig" with {activerd: 'wishlist_index'} %}
                <div class="col-lg-8 col-xl-9 ps-lg-4 ps-xl-6" data-wishlist="{{wishlistJson}}">
                    <div class="d-flex justify-content-between align-items-center mb-5 mb-sm-6">
                        <h1 class="h3 mb-0">{{ pagetitle }}</h1>
                        <button class="btn btn-primary d-lg-none flex-shrink-0 ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                            <i class="fas fa-sliders-h"></i> {{ 'Menu'|trans }}
                        </button>
                    </div>
                    <div class="table-responsive border-0">
                        <table class="table align-middle p-4 mb-0 table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="border-0 text-white rounded-start">
                                        {{ 'Picture'|trans }}
                                    </th>
                                    <th scope="col" class="border-0 text-white">
                                        {{ 'Product'|trans }}
                                    </th>
                                    <th scope="col" class="border-0 text-white">
                                        {{ 'Price'|trans }}
                                    </th>
                                    <th scope="col" class="border-0 text-white">
                                        {{ 'Stock Status'|trans }}
                                    </th>
                                    <th scope="col" class="border-0 text-white">
                                        {{ 'Cart'|trans }}
                                    </th>
                                    <th scope="col" class="border-0 text-white">
                                        {{ 'Remove'|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
