{% extends 'base.html.twig' %}

{% set pagetitle = 'Purchase order No. '|trans ~ order.ref %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "order": "Orders"|trans, (path('order_detail', { id: order.id })): "Order details"|trans, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="card bg-transparent mb-6">
                <div class="card-header bg-transparent border-bottom d-sm-flex justify-content-between px-0 pt-0">
                    <h5 class="card-header-title mb-2 mb-sm-0">{{ pagetitle }}</h5>
                    <span class="mb-0">{{ 'Order Date'|trans }} {{ order.createdAt|format_date('long') }}</span>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="card-body px-0">
                        <div class="row g-4">
                            <div class="col-md-6 col-lg-12 col-xl-6">
                                <div class="table-responsive border-0">
                                    <table class="table align-middle p-4 mb-0 table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col" class="border-0 text-white rounded-start">{{ 'Number'|trans }}</th>
                                                <th scope="col" class="border-0 text-white">{{ 'Order Date'|trans }}</th>
                                                <th scope="col" class="border-0 text-white">{{ 'Customer account'|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ order.ref }}</td>
                                                <td>{{ order.createdAt|format_date('long') }}</td>
                                                <td>{{ "CL%06d"|format(order.id) }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-xl-6">
                                <div class="table-responsive border-0">
                                    <table class="table align-middle p-4 mb-0 table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col" class="border-0 text-white rounded-start">
                                                    {{ 'Delivery address'|trans }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {{ order.fullName }}
                                                    <br/>
                                                    {{ order.street }}
                                                    <br/>
                                                    {% if order.street2 is not null %}
                                                        {{ order.street2 }}
                                                        <br/>
                                                    {% endif %}
                                                    {{ order.postalcode }} {{ order.city }} {{ order.countrycode.name }}
                                                    <br/>
                                                    {{ 'Phone'|trans }} : {{ order.phone }}
                                                    <br/>
                                                    {{ 'E-mail'|trans }} : {{ order.email }}
                                                    <br/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-body px-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="table-responsive border-0">
                                <table class="table align-middle p-4 mb-0 table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col" class="border-0 text-white rounded-start">{{ 'Reference'|trans }}</th>
                                            <th scope="col" class="border-0 text-white">{{ 'Product'|trans }}</th>
                                            <th scope="col" class="border-0 text-white">{{ 'Unit price'|trans }}</th>
                                            <th scope="col" class="border-0 text-white">{{ 'Quantity'|trans }}</th>
                                            <th scope="col" class="border-0 text-white">{{ 'Price total'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for orderDetail in order.orderDetails %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('shop_product', {slug: orderDetail.product.slug }) }}" target="_blank">
                                                        #{{ orderDetail.product.ref }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{ orderDetail.product.name }} - {{ orderDetail.product.brand.name }}
                                                </td>
                                                <td>
                                                    {{ (settings['currency_position']  == 'left' ? settings['currency_symbol'] : '') ~ orderDetail.product.price ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}
                                                </td>
                                                <td>{{ orderDetail.quantity }}</td>
                                                <td>
                                                    {{ (settings['currency_position']  == 'left' ? settings['currency_symbol'] : '') ~ orderDetail.product.price * orderDetail.quantity ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="text-end" colspan="4">{{ 'Shipping cost'|trans }}</th>
                                            <td class="text-center">{{ (settings['currency_position']  == 'left' ? settings['currency_symbol'] : '') ~ order.countrycode.shippingCost ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-end" colspan="4">{{ 'Total to pay'|trans }}</th>
                                            <td class="text-center">{{ (settings['currency_position']  == 'left' ? settings['currency_symbol'] : '') ~ order.totalPrice ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
