{% extends 'base.html.twig' %}

{% set pagetitle = 'Help Center Article'|trans ~ " " ~ article.name %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "help_center": ('Help center'|trans), (path("help_center_category", { slug: article.category.slug })): article.category.name|raw|striptags|slice(0, 10)|raw, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
	<section class="pt-0">
		<div class="container">
			<div class="row">
				<aside class="col-xl-3">
					<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
						<div class="offcanvas-header bg-light">
							<h6 class="offcanvas-title" id="offcanvasSidebarLabel">{{ 'Advance Filter'|trans }}</h6>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body flex-column p-3 p-xl-0">
							<div class="accordion accordion-alt" id="accordionExample">
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button fs-6 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#filter-keyword" aria-expanded="true" aria-controls="filter-keyword">
											{{ "Search help center"|trans }}
										</button>
									</h2>
									<div id="filter-keyword" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" style="">
										<div class="accordion-body">
											<form action="{{ path('help_center') }}" class="rounded position-relative">
												<input class="form-control bg-light pe-5" type="search" name="keyword" placeholder="{{ 'Keyword...'|trans }}" aria-label="{{ 'Keyword'|trans }}">
												<button class="btn bg-transparent border-0 px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
													<i class="fas fa-search"></i>
												</button>
											</form>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter-categories" aria-expanded="false" aria-controls="filter-categories">
											{{ "Categories"|trans }}
										</button>
									</h2>
									<div id="filter-categories" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
										<div class="accordion-body">
											<ul class="nav gap-2 flex-column">
												{% set helpcentercategories = setting.getHelpCenterCategories({}).getQuery().getResult() %}
												{% if helpcentercategories|length %}
													{% for helpcentercategory in helpcentercategories %}
														<li class="nav-item">
															<a href="{{ path('help_center_category', {slug: helpcentercategory.slug}) }}" class="nav-link icon-link icon-link-hover py-2">
																{{ helpcentercategory.name }} {{ helpcentercategory.articles|length }}
																<i class="fas fa-arrow-right ms-2"></i>
															</a>
														</li>
													{% endfor %}
												{% else %}
													<li class="nav-item">
														<small class="text-muted">{{ 'No categories found'|trans }}</small>
													</li>
												{% endif %}
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter-popular" aria-expanded="false" aria-controls="filter-popular">
											{{ "Popular"|trans }}
										</button>
									</h2>
									<div id="filter-popular" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
										<div class="accordion-body">
											<ul class="nav gap-2 flex-column">
												{% set populararticles = setting.getHelpCenterArticles({"limit": 5, "sort": "views", "otherthan": article.slug}).getQuery().getResult() %}
												{% if populararticles|length %}
													{% for article in populararticles %}
														<li class="nav-item">
															<small class="text-muted">{{ article.category.name }}</small>
															<a href="{{ path('help_center_article', { slug : article.slug }) }}" class="nav-link icon-link icon-link-hover py-2">
																{{ article.name }}
																<i class="fas fa-arrow-right ms-2"></i>
															</a>
														</li>
													{% endfor %}
												{% else %}
													<li class="nav-item">
														<small class="text-muted">{{ 'No articles found'|trans }}</small>
													</li>
												{% endif %}
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter-tags" aria-expanded="false" aria-controls="filter-tags">
											{{ "Tags"|trans }}
										</button>
									</h2>
									<div id="filter-tags" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
										<div class="accordion-body">
											<div class="align-items-center mt-5">
												<h6 class="mb-3 d-inline-block">{{ "Popular Tags"|trans }}:</h6>
												<ul class="list-inline mb-0">
													{% for tag in setting.getHelpCenterArticles({"selecttags": true}).getQuery().getOneOrNullResult()[1]|split(',') %}
														<li class="list-inline-item">
															<a class="btn btn-light btn-sm" href="{{ path('help_center', { keyword: tag }) }}">
																{{ tag }}
															</a>
														</li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-between p-2 p-xl-0 mt-xl-3">
								<button class="btn btn-link text-primary-hover p-0 mb-0">
									{{ 'Clear all'|trans }}
								</button>
								<button class="btn btn-primary mb-0">{{ 'Filter Result'|trans }}</button>
							</div>
						</div>
					</div>
				</aside>
				<div class="col-xl-9 ps-xl-6">
					<div class="row g-4 g-lg-5">
						<div class="col-lg-12">
							<article class="card bg-transparent mb-6">
								<div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center px-0">
									<h5>{{ article.name }}</h5>
									<div class="d-xl-none">
										<button class="btn btn-sm btn-dark mb-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
											<i class="fas fa-sliders-h me-1"></i>
											{{ 'Show filter'|trans }}
										</button>
									</div>
								</div>
								<div class="card-body px-0 pb-0">
									<div class="card-body p-0">
										<div>{{ article.content|html_markdown }}</div>
										{% if article.tags %}
											<hr class="my-5">
											<div class="align-items-center mb-5">
												<h6 class="mb-3 d-inline-block">{{ 'Popular Tags'|trans }}:</h6>
												<ul class="list-inline mb-0">
													{% for tag in article.tags|split(',') %}
														<li class="list-inline-item"> 
															<a class="btn btn-light btn-sm" href="{{ path('help_center', { keyword: tag }) }}">
																{{ tag }}
															</a>
														</li>
													{% endfor %}
												</ul>
											</div>
										{% endif %}
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "global/support-box.html.twig" %}
{% endblock %}
