{% extends 'base.html.twig' %}

{% set pagetitle = 'Help Center Support for'|trans ~ " " ~ category.name %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "help_center": ('Help center'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
	<section class="pt-0">
		<div class="container">
			<div class="row g-4 g-lg-5">
				<div class="col-md-6">
					<article class="card card-body card-hover-shadow border d-flex flex-row p-4 h-100">
						<figure class="text-primary mb-0">
							<i class="{{ category.icon }} fa-fw fs-2"></i>
						</figure>
						<div class="d-flex flex-column ms-4">
							<h5 class="mb-3">{{ category.name }}</h5>
							{% for article in setting.getHelpCenterArticles({"category":category.slug}).getQuery().getResult() %}
								<p class="mb-3">{{ article.content|html_markdown_excerpt(125) }}</p>
								<a class="icon-link icon-link-hover stretched-link mt-auto" href="{{ path('help_center_article', {slug: article.slug}) }}">{{ article.name }}<i class="fas fa-arrow-right"></i> 
								</a>
							{% endfor %}
						</div>
					</article>
				</div>
			</div>
		</div>	
	</section>
{% endblock %}
