{% extends 'base.html.twig' %}

{% set pagetitle = 'Testimonials '|trans ~ testimonial.name %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard' | trans), "dashboard_admin_testimonial_index": 'Manage testimonials'|trans, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive overflow-y-hslugden">
                        <table class="table table-borderless table-striped table-hover table-sm">
                            <thead class="">
                                <tr>
                                    <th colspan="2">
                                        <i class="fas fa-file fa-fw text-muted"></i>
                                        {{ "General information"|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td wslugth="30%">#</th>
                                    <td>{{ testimonial.id }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Name'|trans }}</th>
                                    <td>{{ testimonial.name }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Slug'|trans }}</th>
                                    <td>{{ testimonial.slug }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Content'|trans }}</th>
                                    <td>{{ testimonial.content | html_markdown }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Rating'|trans }}</th>
                                    <td>
                                    {% include 'global/rating.html.twig' with {'rating' : testimonial.rating, 'class' : 'fs-6 align-top'} %}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Author'|trans }}</th>
                                    <td>{{ testimonial.author.getFullName | lower | capitalize }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Status'|trans }}</th>
                                    <td>
                                        {% if testimonial.isOnline == false %}
                                            <i class="fa-solid fa-circle fa-2xs text-danger me-2"></i>{{ "Offline"|trans }}
                                            <br>
                                        {% else %}
                                            <i class="fa-solid fa-circle fa-2xs text-success me-2"></i>{{ "Online"|trans }}
                                            <br>
                                        {% endif %}
                                        {% if testimonial.deletedAt %}
                                            <i class="fa-solid fa-circle fa-2xs text-danger-soft me-2"></i>{{ "Deleted"|trans }}
                                            <br>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Creation date'|trans }}</th>
                                    <td>{{ testimonial.createdAt ? testimonial.createdAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Update date'|trans }}</th>
                                    <td>{{ testimonial.updatedAt ? testimonial.updatedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Deleted date'|trans }}</th>
                                    <td>{{ testimonial.deletedAt ? testimonial.deletedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex pb-3 my-3">
                        <a href="{{ path('dashboard_admin_testimonial_index') }}" class="btn btn-sm btn-dark me-2">
                            <i class="fas fa-list fa-fw"></i>
                        </a>
                        <a href="{{ path('dashboard_admin_testimonial_edit', {'slug': testimonial.slug}) }}" class="btn btn-primary btn-sm me-2">
                            <i class="fas fa-pencil fa-fw"></i>
                        </a>
                        {{ include('dashboard/admin/testimonials/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
