{% extends 'base.html.twig' %}

{% set pagetitle = 'Home'|trans %}
{% block title pagetitle %}

{% block cover %}
    <section class="pt-5 pt-xl-7">

    </section>
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h3>{{ 'Featured category'|trans }}</h3>
                <a class="icon-link icon-link-hover text-body-secondary text-primary-hover" href="#">
                    {{ 'View all'|trans }}<i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
    {% if products|length > 0 %}
        <section class="pt-0">
            <div class="container">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3>{{ "What's trending now"|trans }}</h3>
                    <a class="icon-link icon-link-hover text-body-secondary text-primary-hover" href="{{ path('products') }}">
                        {{ 'See all products'|trans }}
                        <i class="fas fa-arrow-right"></i> 
                    </a>
                </div>
                <div class="row g-4 g-sm-5">
                    <div class="col-lg-8 col-xl-6">
                        <div class="card p-0 h-100" style="background-image:url({{ asset('images/shop/bg/03.jpg') }}); background-position: center left; background-size: cover;">
                            <div class="card-body p-5 mb-8">
                                <span class="bg-dark text-white rounded fw-semibold small px-3 py-2">{{ 'New Arrival'|trans }}</span>
                                <h4 class="text-white my-4">{{ 'Powerful performance. Versatile design.'|trans }}</h4>
                                <a class="btn btn-lg btn-outline-white icon-link icon-link-hover mb-0" href="#">
                                    {{ 'Shop now'|trans }}<i class="fas fa-arrow-right"></i> 
                                </a>
                            </div>
                        </div>
                    </div>
                    {% for product in products %}
                        {% include "global/product-card.html.twig" with {product: product, thumbnailsize: [241, 241]} %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
