{% extends 'base.html.twig' %}

{% set pagetitle = 'Set new password'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "app_forgot_password_request": ('Forgot password'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row w-100 m-auto">
                <div class="col-lg-10 my-5 m-auto">
                    <a href="">
                        <img src="" class="h-50px mb-4" alt="logo">
                    </a>
                    <h2 class="mb-1">{{ pagetitle }}</h2>
                    <p class="mb-4">{{ "Must be at least 16 character."|trans }}</p>
                    {{ form_start(resetForm, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation '} }) }}
                        {{ form_errors(resetForm) }}
                        <div class="mb-3">
                            {{ form_row(resetForm.newPassword) }}
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-dark mb-0" type="submit">{{ "Reset password"|trans }}</button>
                        </div>
                    {{ form_end(resetForm) }}
                    <div class="mt-4 text-center">
                        <a href="{{ path('signin') }}" class="text-primary-hover">
                            <i class="fas fa-arrow-left"></i>
                            {{ 'Back to login'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
