{% extends 'base.html.twig' %}

{% set pagetitle = 'Sign up'|trans %}
{% block title pagetitle %}

{% block body %}
    {% for flash_error in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {% if errors | length > 0 %}
        <div class="d-flex alert alert-danger alert-icon" role="alert">
            {% for error in errors %}
                <i class="bi bi-exclamation-circle fs-xl pe-1 me-2"></i>
                <div>{{ error.message }}</div>
                {% if not loop.last %}
                    <br/>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.username) }}
        {% if registrationForm.email is defined %}
            {{ form_row(registrationForm.email) }}
        {% endif %}
        {% if registrationForm.plainPassword is defined %}
            {{ form_row(registrationForm.plainPassword.first) }}
            {{ form_row(registrationForm.plainPassword.second) }}
        {% endif %}
        {{ form_row(registrationForm.isAgreeTerms, {
            label: "By clicking the Sign Up button, I agree to"|trans
        }) }}

        <button type="submit" class="btn btn-primary">{{ "Create Account"|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
