<header class="header-sticky header-absolute">
    {% include "global/user-isverified.html.twig" with { user: app.user } %}
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <a href="{{ path('home') }}" class="navbar-brand me-5">
                {# <img class="navbar-brand-item" src="{{ asset('images/logo-light.svg') }}" alt="logo"> #}
                {{ website_name }}
            </a>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll dropdown-hover mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if routename == "shop" or routename == "cart" or routename == "order" or routename == "sav" %}active{% endif %}" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">{{ 'Browse Shop'|trans }}</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link {% if routename == "shop" %}active{% endif %}" href="{{ path("shop") }}">
                                    {{ 'Shop'|trans }}
                                </a>
                            </li>
                            {% if is_granted("ROLE_SHOP") %}
                                <li class="nav-item">
                                    <a class="nav-link {% if routename == "dashboard_customer_cart" %}active{% endif %}" href="{{ path("dashboard_customer_cart") }}">
                                        {{ 'Cart'|trans }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if routename == "dashboard_customer_sav" %}active{% endif %}" href="{{ path("dashboard_customer_sav") }}">
                                        {{ 'Sav'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    {#  
                    {% if categories is defined %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                                {{ 'Explore'|trans }}
                            </a>
                            <ul class="dropdown-menu">
                                {% for category in categories %}
                                    <li class="dropdown dropend">
                                        <a class="nav-link dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                                            {{ category.name }}
                                        </a>
                                        {% for subCategory in category.subCategories %}
                                            <ul class="dropdown-menu" data-bs-popper="none">
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('subcategory_filter', { id : subCategory.id}) }}">
                                                        {{ subCategory.name }}
                                                    </a>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    #}
                    {% if getSubCategories()|length > 0 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                                {{ 'Explore'|trans }}
                            </a>
                            <ul class="dropdown-menu">
                                {% for category in getSubCategories() %}
                                    <li class="dropdown dropend">
                                        <a class="nav-link dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                                            {{ category.name }}
                                        </a>
                                        {% for subCategory in category.subCategories %}
                                            <ul class="dropdown-menu" data-bs-popper="none">
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('shop_subcategory_filter', { id : subCategory.id}) }}">
                                                        {{ subCategory.name }}
                                                    </a>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if routename == "posts" or routename == "post" or routename == "post_searched" %}active{% endif %}" href="{{ path('posts') }}">
                            {{ 'Blog'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if routename == "contact" %}active{% endif %}" href="{{ path('contact') }}">
                            {{ 'Contact'|trans }}
                        </a>
                    </li>
                    {#  
                    {% if is_granted('ROLE_USER') %}
                        {% if is_granted('ROLE_TEAM') %}
                            {% if is_granted('ROLE_EDITOR') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle  {% if routename == "dashboard_admin_product_category_index" or routename == "dashboard_admin_product_category_new" or routename == "dashboard_admin_product_category_edit" or routename == "dashboard_admin_product_sub_category_index" or routename == "dashboard_admin_product_sub_category_new" or routename == "dashboard_admin_product_sub_category_edit" or routename == "dashboard_admin_product_index" or routename == "dashboard_admin_product_new" or routename == "dashboard_admin_product_edit" or routename == "dashboard_admin_product_brand_index" or routename == "dashboard_admin_product_brand_new" or routename == "dashboard_admin_product_brand_edit" or routename == "dashboard_admin_product_color_index" or routename == "dashboard_admin_product_color_new" or routename == "dashboard_admin_product_color_edit" or routename == "dashboard_admin_product_size_index" or routename == "dashboard_admin_product_size_new" or routename == "dashboard_admin_product_size_edit" or routename == "dashboard_admin_product_shipping_index" or routename == "dashboard_admin_product_shipping_new" or routename == "dashboard_admin_product_shipping_edit" or routename == "dashboard_admin_user_index" or routename == "dashboard_admin_user_new" or routename == "dashboard_admin_user_suspended" or routename == "dashboard_admin_user_verified" or routename == "dashboard_admin_user_information" or routename == "dashboard_admin_setting_regional" or routename == "dashboard_admin_post_index" or routename == "dashboard_admin_post_new" or routename == "dashboard_admin_post_edit" or routename == "dashboard_admin_post_category_index" or routename == "dashboard_admin_post_category_new" or routename == "dashboard_admin_post_category_edit" or routename == "dashboard_admin_post_type_index" or routename == "dashboard_admin_post_type_new" or routename == "dashboard_admin_post_type_edit" or routename == "dashboard_admin_comment_index" or routename == "dashboard_admin_help_center_article_index" or routename == "dashboard_admin_help_center_article_new" or routename == "dashboard_admin_help_center_article_edit" or routename == "dashboard_admin_help_center_category_index" or routename == "dashboard_admin_help_center_category_new" or routename == "dashboard_admin_help_center_category_edit" or routename == "dashboard_admin_help_center_faq_index" or routename == "dashboard_admin_help_center_faq_new" or routename == "dashboard_admin_help_center_faq_edit" or routename == "dashboard_admin_page_index" or routename == "dashboard_admin_page_new" or routename == "dashboard_admin_page_edit" or routename == "dashboard_admin_testimonial_index" or routename == "dashboard_admin_testimonial_new" or routename == "dashboard_admin_testimonial_edit" %}active{% endif %}" href="#" data-bs-toggle="dropdown"
                                        data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                                        {% if is_granted("ROLE_ADMIN") %}
                                            {{ 'Administrator'|trans }}
                                        {% else %}
                                            {{ 'Editor'|trans }}
                                        {% endif %}
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
                                            <li class="dropdown dropend">
                                                <a class="nav-link dropdown-link dropdown-toggle {% if routename == "dashboard_admin_product_category_index" or routename == "dashboard_admin_product_category_new" or routename == "dashboard_admin_product_category_edit" or routename == "dashboard_admin_product_sub_category_index" or routename == "dashboard_admin_product_sub_category_new" or routename == "dashboard_admin_product_sub_category_edit" or routename == "dashboard_admin_product_index" or routename == "dashboard_admin_product_new" or routename == "dashboard_admin_product_edit" or routename == "dashboard_admin_product_brand_index" or routename == "dashboard_admin_product_brand_new" or routename == "dashboard_admin_product_brand_edit" or routename == "dashboard_admin_product_color_index" or routename == "dashboard_admin_product_color_new" or routename == "dashboard_admin_product_color_edit" or routename == "dashboard_admin_product_size_index" or routename == "dashboard_admin_product_size_new" or routename == "dashboard_admin_product_size_edit" or routename == "dashboard_admin_product_shipping_index" or routename == "dashboard_admin_product_shipping_new" or routename == "dashboard_admin_product_shipping_edit" %}active{% endif %}" data-bs-toggle="dropdown"
                                                    href="#">
                                                    {{ 'Shop'|trans }}
                                                </a>
                                                <ul class="dropdown-menu" data-bs-popper="none">
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_product_category_index" or routename == "dashboard_admin_product_category_new" or routename == "dashboard_admin_product_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_product_category_index') }}">
                                                            {{ 'Categories'|trans }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_product_sub_category_index" or routename == "dashboard_admin_product_sub_category_new" or routename == "dashboard_admin_product_sub_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_product_sub_category_index') }}">
                                                            {{ 'Sub Categories'|trans }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_product_index" or routename == "dashboard_admin_product_new" or routename == "dashboard_admin_product_edit" %}active{% endif %}" href="{{ path('dashboard_admin_product_index') }}">
                                                            {{ "Products"|trans }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_product_brand_index" or routename == "dashboard_admin_product_brand_new" or routename == "dashboard_admin_product_brand_edit" %}active{% endif %}" href="{{ path('dashboard_admin_product_brand_index') }}">
                                                            {{ "Brand"|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_product_color_index" or routename == "dashboard_admin_product_color_new" or routename == "dashboard_admin_product_color_edit" %}active{% endif %}" href="{{ path('dashboard_admin_product_color_index') }}">
                                                            {{ "Color"|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_product_size_index" or routename == "dashboard_admin_product_size_new" or routename == "dashboard_admin_product_size_edit" %}active{% endif %}" href="{{ path('dashboard_admin_product_size_index') }}">
                                                            {{ "Size"|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item  {% if routename == "dashboard_admin_product_shipping_index" or routename == "dashboard_admin_product_shipping_new" or routename == "dashboard_admin_product_shipping_edit" %}active{% endif %}" href="{{ path('dashboard_admin_product_shipping_index') }}">
                                                            {{ "Shipping"|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a class="dropdown-item {% if routename == "dashboard_admin_page_index" or routename == "dashboard_admin_page_new" or routename == "dashboard_admin_page_edit" %}active{% endif %}" href="{{ path('dashboard_admin_page_index') }}">
                                                    {{ 'Pages'|trans }}
                                                    <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item  {% if routename == "dashboard_admin_user_index" or routename == "dashboard_admin_user_new" or routename == "dashboard_admin_user_suspended" or routename == "dashboard_admin_user_verified" or routename == "dashboard_admin_user_information" %}active{% endif %}" href="{{ path('dashboard_admin_user_index') }}">
                                                    {{ "Users"|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item {% if routename == "dashboard_admin_setting_regional" %}active{% endif %}" href="{{ path('dashboard_admin_setting_regional') }}">
                                                    {{ "Regional Configuration"|trans }}
                                                    <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item " href="">
                                                    {{ 'Reviews'|trans }}
                                                    <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item {% if routename == "dashboard_admin_testimonial_index" or routename == "dashboard_admin_testimonial_new" or routename == "dashboard_admin_testimonial_edit" %}active{% endif %}" href="{{ path('dashboard_admin_testimonial_index') }}">
                                                    {{ 'Testimonials'|trans }}
                                                    <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                </a>
                                            </li>
                                            <li class="dropdown dropend">
                                                <a class="dropdown-item dropdown-toggle {% if routename == "dashboard_admin_post_index" or routename == "dashboard_admin_post_new" or routename == "dashboard_admin_post_edit" or routename == "dashboard_admin_post_category_index" or routename == "dashboard_admin_post_category_new" or routename == "dashboard_admin_post_category_edit" or routename == "dashboard_admin_post_type_index" or routename == "dashboard_admin_post_type_new" or routename == "dashboard_admin_post_type_edit" or routename == "dashboard_admin_comment_index" %}active{% endif %}" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                                                    {{ 'Blog'|trans }}
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_post_index" or routename == "dashboard_admin_post_new" or routename == "dashboard_admin_post_edit" %}active{% endif %}" href="{{ path('dashboard_admin_post_index') }}">
                                                            {{ 'Articles'|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_post_category_index" or routename == "dashboard_admin_post_category_new" or routename == "dashboard_admin_post_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_post_category_index') }}">
                                                            {{ 'Categories'|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item % {% if routename == "dashboard_admin_post_type_index" or routename == "dashboard_admin_post_type_new" or routename == "dashboard_admin_post_type_edit" %}active{% endif %}" href="{{ path('dashboard_admin_post_type_index') }}">
                                                            {{ 'Types'|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_comment_index" %}active{% endif %}" href="{{ path('dashboard_admin_comment_index') }}">
                                                            {{ 'Comments'|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown dropend">
                                                <a class="dropdown-item dropdown-toggle {% if routename == "dashboard_admin_help_center_article_index" or routename == "dashboard_admin_help_center_article_new" or routename == "dashboard_admin_help_center_article_edit" or routename == "dashboard_admin_help_center_category_index" or routename == "dashboard_admin_help_center_category_new" or routename == "dashboard_admin_help_center_category_edit" or routename == "dashboard_admin_help_center_faq_index" or routename == "dashboard_admin_help_center_faq_new" or routename == "dashboard_admin_help_center_faq_edit" %}active{% endif %}" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                                                    {{'Help center' | trans}}
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_help_center_article_index" or routename == "dashboard_admin_help_center_article_new" or routename == "dashboard_admin_help_center_article_edit" %}active{% endif %}" href="{{ path('dashboard_admin_help_center_article_index') }}">
                                                            {{ 'Articles'|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_help_center_category_index" or routename == "dashboard_admin_help_center_category_new" or routename == "dashboard_admin_help_center_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_help_center_category_index') }}">
                                                            {{ 'Categories'|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item {% if routename == "dashboard_admin_help_center_faq_index" or routename == "dashboard_admin_help_center_faq_new" or routename == "dashboard_admin_help_center_faq_edit" %}active{% endif %}" href="{{ path('dashboard_admin_help_center_faq_index') }}">
                                                            {{ 'Faqs'|trans }}
                                                            <span class="badge text-bg-success ms-2">{{ "New"|trans }}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown dropend">
                                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                                                    {{'Setting' | trans}}
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li> <a class="dropdown-item" href=""></a></li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if routename == "dashboard_admin_index" or routename == "dashboard_editor_index" or routename == "dashboard_team_index" or routename == "dashboard_user_index" or routename == "dashboard_main" or routename == "dashboard_user_my_dashboard" or routename == "dashboard_user_client_index" %}active{% endif %}" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.getFullName | lower | capitalize }}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item {% if routename == "dashboard_admin_index" or routename == "dashboard_editor_index" or routename == "dashboard_team_index" or routename == "dashboard_user_index" or routename == "dashboard_main" or routename == "dashboard_user_my_dashboard" %}active{% endif %}" href="{{ path('dashboard_main') }}">
                                        {% if is_granted("ROLE_ADMIN") %}
                                            {{ 'Dashboard'|trans }}
                                        {% elseif is_granted('ROLE_EDITOR')  %}
                                            {{ 'Product List'|trans }}
                                        {% elseif is_granted("ROLE_TEAM") %}
                                            {{ 'Dashboard'|trans }}
                                        {% else %}
                                            {{ 'My Dashboard'|trans }}
                                        {% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if routename == "dashboard_user_client_index" %}active{% endif %}" href="{{ path('dashboard_user_client_index') }}">
                                        {{ 'My Profile'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('signout') }}">{{ 'Sign Out'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    #}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if routename == "dashboard_main" or routename == "dashboard_account_profile" %}active{% endif %}" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                                {{ 'Hello'|trans }} {{ app.user.getFullName|lower|capitalize }}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item {% if routename == "dashboard_main" or routename == "admin_index" or routename == "dashboard_account_index" %}active{% endif %}" href="{{ path('dashboard_main') }}">
                                        {% if is_granted("ROLE_TEAM") %}
                                            {{ 'Dashboard'|trans }}
                                        {% else %}
                                            {{ 'My Dashboard'|trans }}
                                        {% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if routename == "dashboard_account_profile" %}active{% endif %}" href="{{ path('dashboard_account_profile') }}">
                                        {{ 'My Profile'|trans }}
                                    </a>
                                </li>
                                {% if is_granted("ROLE_EDITOR") %}
                                    <li class="dropdown dropend">
                                        <a class="nav-link dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                                            {{ 'Orders'|trans }}
                                        </a>
                                        <ul class="dropdown-menu" data-bs-popper="none">
                                            <li>
                                                <a class="dropdown-item" href="{{ path("admin_order_type", { type: 'isCompleted'}) }}">
                                                    {{ 'Orders delivered'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path("admin_order_type", { type: 'payOnStripeNotDelivered'}) }}">
                                                    {{ 'Orders paid online not delivered'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path("admin_order_type", { type: 'payOnStripeIsDelivered'}) }}">
                                                    {{ 'Orders paid online delivered'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path("admin_order_type", { type: 'payOnNotDelivered'}) }}">
                                                    {{ 'Orders paid on delivery not delivered'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path("admin_order_type", { type: 'payOnIsDelivered'}) }}">
                                                    {{ 'Orders paid for on delivery'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if not is_granted('IS_IMPERSONATOR') %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('signout') }}">
                                            {{ 'Sign Out'|trans }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="dropdown-item" href="{{ impersonation_exit_path(path('home')) }}">
                                            {{ 'Back to my access'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
			<ul class="nav align-items-center dropdown-hover ms-sm-2">
                {% include "global/dropdown-item-bs-theme-text.html.twig" %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item me-2">
                        <a href="{{ path('signout') }}" class="btn btn-sm btn-danger mb-0">
                            <i class="fas fa-sign-out-alt me-1"></i>{{ 'Sign Out'|trans }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item me-2">
                        <a href="{{ path('signin', {redirect: app.request.pathInfo}) }}" class="btn btn-sm btn-light mb-0">
                            <i class="fas fa-user me-1"></i>{{ 'Sign In'|trans }}
                        </a>
                    </li>
                    {% if '1' == settings['users_can_register'] %}
                        <li class="nav-item d-none d-sm-block">
                            <a href="{{ path('signup') }}" class="btn btn-sm btn-primary mb-0">
                                <i class="fas fa-user-plus me-1"></i>{{ 'Sign Up'|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
				<li class="nav-item">
					<button class="navbar-toggler ms-sm-3 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-animation">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</button>
				</li>	
			</ul>
        </div>
    </nav>
</header>
