{% if comment.isApproved %}
    <div class="d-flex">
        {% include "global/user-avatar.html.twig" with { user: comment.author, type: "md", class: "rounded-circle float-start me-3" } %}
        <div>
            <div class="d-sm-flex justify-content-between mb-2">
                <div>
                    <h6 class="m-0">
                        <a href="{{ path('user_profil', { id : comment.author.id }) }}">
                            {{ comment.author.getFullName | lower | capitalize }}
                        </a>
                    </h6>
                    <span class="me-3 small">
                        <a href="#c{{ comment.id }}" class="text-secondary text-primary-hover">
                            {{ comment.publishedAt | format_date('long') }}
                        </a>
                    </span>
                </div>
                {% if is_granted('ROLE_USER') %}
                    <div class="me-3 small mb-0">
                        <a href="#add-comment" class="text-secondary text-primary-hover" type="button" data-reply data-id="{{comment.id}}">
                            <i class="fas fa-share me-2"></i>
                            {{ 'Reply'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>
            <div>{{ comment.content | html_markdown_untrusted }}</div>
            {% if app.user == comment.author %}
                {% if comment.post %}
                    <span>{{ 'Delete'|trans }}?</span>
                    <div class="btn-group ms-md-2" role="group" aria-label="Basic radio toggle button group">
                        <form method="post" action="{{ path('post_comment_delete', {'id': comment.id}) }}" name="comment_delete" onsubmit="return confirm('{{ "Are you sure you want to delete this item?"|trans }}');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('comment_deletion_' ~ comment.id) }}">
                            <button type="submit" class="btn btn-outline-secondary btn-sm mb-0">
                                <i class="fas fa-trash fa-fw"></i>
                                {{ 'Delete'|trans }}
                            </button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <hr class="my-4">
    {% for reply in comment.replies %}
        <div class="d-flex">
            {% include "global/user-avatar.html.twig" with { user: reply.author, type: "md", class: "rounded-circle float-start me-3" } %}
            <div>
                <div class="d-sm-flex justify-content-between mb-2">
                    <div>
                        <h6 class="m-0">
                            <a href="{{ path('user_profil', { id : reply.author.id }) }}">
                                @{{ reply.author.getFullName | lower | capitalize }}
                            </a>
                        </h6>
                        <span class="me-3 small">
                            <a href="#c{{ reply.id }}" class="text-secondary text-primary-hover">
                                {{ reply.publishedAt | format_date('long') }}
                            </a>
                        </span>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="me-3 small mb-0">
                            <a href="#add-comment" class="text-secondary text-primary-hover" type="button" data-reply data-id="{{reply.id}}">
                                <i class="fas fa-share me-2"></i>
                                {{ 'Reply'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div>{{ reply.content | html_markdown_untrusted }}</div>
                {% if app.user == reply.author %}
                    {% if reply.post %}
                        <span>{{ 'Delete'|trans }}?</span>
                        <div class="btn-group ms-md-2" role="group" aria-label="Basic radio toggle button group">
                            <form name="comment_delete" method="POST" action="{{ path('post_comment_delete', {'id': reply.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('comment_deletion_' ~ reply.id) }}">
                                <button type="submit" class="btn btn-outline-secondary btn-sm mb-0">
                                    {{ 'Delete'|trans }}
                                </button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr class="my-4">
    {% endfor %}

{#  
    <div class="py-4">
        <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
            <div class="d-flex align-items-center me-3">
                {% include "global/user-avatar.html.twig" with { user: comment.author, type: "lg" } %}
                <div class="ps-3">
                    <h6 class="mb-0">{{ comment.author.getFullName | lower | capitalize }}</h6>
                    <span class="me-3 small">
                        <a href="#c{{ comment.id }}">
                            {{ comment.publishedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) }}
                        </a>
                    </span>
                </div>
            </div>
            {% if is_granted('ROLE_USER') %}
                <a href="#add-comment" class="text-secondary text-primary-hover small px-0" type="button" data-reply data-id="{{comment.id}}">
                    <i class="fas fa-share me-2"></i>
                    {{ 'Reply'|trans }}
                </a>
            {% endif %}
        </div>
        <div class="mb-0 pb-2">{{ comment.content | html_markdown }}</div>
        {% for reply in comment.replies %}
            <div class="position-relative ps-4 mt-4">
                <span class="position-absolute top-0 start-0 w-1 h-100 bg-primary"></span>
                <div class="d-flex align-items-center justify-content-between ps-3 pb-2 mb-1">
                    <div class="d-flex align-items-center me-3">
                        {% include "global/user-avatar.html.twig" with { user: reply.author, type: "lg" } %}
                        <div class="ps-3">
                            <h6 class="mb-0">{{ reply.author.getFullName | lower | capitalize }}</h6>
                            <span class="me-3 small">
                                <a href="#c{{ reply.id }}">
                                    {{ reply.publishedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) }}
                                </a>
                            </span>
                        </div>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <a href="#add-comment" class="text-secondary text-primary-hover small px-0" type="button" data-reply data-id="{{reply.id}}">
                            <i class="fas fa-share me-2"></i>
                            {{ 'Reply'|trans }}
                        </a>
                    {% endif %}
                </div>
                <div class="ps-3 mb-0">
                    <a href="{{ path('user_profil', { slug : reply.author.slug }) }}" class="fw-semibold text-decoration-none">
                        @{{ reply.author.getFullName | lower | capitalize }}
                    </a>
                    {{ reply.content | html_markdown }}
                </div>
            </div>
        {% endfor %}
    </div>
    <hr class="my-4">
#}
{% endif %}

{% block javascripts %}
	<script>
		window.onload = () => {
			document.querySelectorAll("[data-reply]").forEach(element => {
				element.addEventListener("click", function(){
					document.querySelector("#comments_parentid").value = this.dataset.id;
				});
			});
		}
	</script>
{% endblock %}
