{# 
{% set runtimeConfig = {"thumbnail": {"size": thumbnailsize } } %} 
#}
{% set link = path('product', { id : product.id }) %}
<div class="col-sm-6 col-lg-4">
	<div class="card border bg-transparent overflow-hidden p-0 h-100">
		<div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-3">
			<span class="badge text-bg-{{ product.subCategories[0].color }}">
                {{ product.subCategories[0].name }}
            </span>
			{% if product.tax %}
				<span class="badge text-bg-danger ms-2">{{ product.tax * 100 }}% {{ 'off'|trans }}</span>
			{% endif %}
			<a href="#" class="btn btn-white btn-round border mb-0 ms-auto">
				<i class="fas fa-heart"></i>
			</a>
		</div>
		<div class="card-header bg-light rounded m-2">
			<img src="/{{ product.imageName ? (product.getImagePath) : product.getImagePlaceholder }}" alt="{{ product.name }}">
		</div>
		<div class="card-body pb-0">
			<h6 class="card-title">
				<a href="{{ link }}" class="stretched-link">{{ product.name }}</a>
			</h6>
			<ul class="list-inline">
				<li class="list-inline-item me-0 small">
					<i class="fas fa-star text-warning"></i>
				</li>
				<li class="list-inline-item me-0 small">
					<i class="fas fa-star text-warning"></i>
				</li>
				<li class="list-inline-item me-0 small">
					<i class="fas fa-star text-warning"></i>
				</li>
				<li class="list-inline-item me-0 small">
					<i class="fas fa-star text-warning"></i>
				</li>
				<li class="list-inline-item me-0 small">
					<i class="fas fa-star-half-alt text-warning"></i>
				</li>
			</ul>
		</div>
		<div class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0">
			<div class="d-flex align-items-center gap-2 justify-content-center">
				{% if product.discount > 0 %}
					<p class="fw-bold text-success mb-0">${{ product.formattedSalePrice }}</p>
					<small class="text-decoration-line-through">${{ product.formattedPrice }}</small>
				{% else %}
					<p class="fw-bold text-success mb-0">${{ product.formattedPrice }}</p>
				{% endif %}
			</div>
			{% if product.stock > 0 %}
				<a href="{{ path('cart_add', { id : product.id }) }}" class="btn btn-dark mb-0 z-index-2">
					<i class="fas fa-cart-shopping"></i>
				</a>
			{% else %}
				<p class="fw-bold text-danger mb-0">{{ 'Temporarily out of stock'|trans }}</p>
			{% endif %}
		</div>
	</div>
</div>
