{# 
{% set runtimeConfig = {"thumbnail": {"size": thumbnailsize } } %} 
#}
{% if customLink is defined %}
    {% set link = customLink %}
{% else %}
    {% set link = path('shop_product', { slug : product.slug }) %} 
{% endif %}
<div class="col-sm-6 col-lg-4">
	<div class="card border bg-transparent overflow-hidden p-0 h-100">
		<div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-3">
			<span class="badge" style="background-color: {{ product.subCategories[0].color }}">
                {{ product.subCategories[0].name }}
            </span>
			{% if (not is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('ROLE_USER')) and hideFavoriteButton is not defined %}
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					{% if product.isAddedToFavoritesBy(app.user) %}
						<button bs-data-target="{{ path('dashboard_account_favorites_remove', { slug : product.slug }) }}" class="btn btn-white btn-round border mb-0 ms-auto product-favorites-remove" bs-data-toggle="tooltip" title="{{ "Remove from favorites"|trans }}">
							<i class="fas fa-heart"></i>
						</button>
					{% else %}
						<button bs-data-target="{{ path('dashboard_account_favorites_new', { slug : product.slug }) }}" class="btn btn-white btn-round border mb-0 ms-auto product-favorites-new" bs-data-toggle="tooltip" title="{{ "Add to favorites"|trans }}">
							<i class="far fa-heart"></i>
						</button>
					{% endif %}
				{% else %}
					<a href="{{ path('signin')~'?_target_path='~app.request.getPathInfo }}" class="btn btn-white btn-round border mb-0 ms-auto" bs-data-toggle="tooltip" title="{{ "Add to favorites"|trans }}">
						<i class="far fa-heart"></i>
					</a>
				{% endif %}
			{% endif %}
		</div>
		<div class="card-header bg-light rounded m-2">
			<img src="{{ product.imageName ? (product.getImagePath) : product.getImagePlaceholder }}" alt="{{ product.brand.name }} - {{ product.name }}">
		</div>
		<div class="card-body pb-0">
			<h6 class="card-title">
				<a href="{{ link }}" class="stretched-link">{{ product.name }}</a>
			</h6>
			<div class="rating-wrap">
				<ul class="list-inline rating-stars">
					<li style="width:{{product.getRatingPercentage}}%" class="list-inline-item me-0 small stars-active">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</li>
					<li>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</li>
				</ul>
			</div>
		</div>
		<div class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0">
			<div class="d-flex align-items-center gap-2 justify-content-center">
				<p class="fw-bold text-success mb-0">
					{{ (settings['currency_position']  == 'left' ? settings['currency_symbol'] : '') ~ product.salePrice ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}
				</p>
				<small class="text-decoration-line-through">
					{{ (settings['currency_position']  == 'left' ? settings['currency_symbol'] : '') ~ product.price ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}
				</small>
			</div>
			{% if product.stock > 0 %}
				<a href="{{ path('dashboard_customer_cart_add', { id : product.id }) }}" class="btn btn-dark mb-0 z-index-2">
					<i class="fas fa-cart-shopping"></i>
				</a>
			{% else %}
				<p class="fw-bold text-danger mb-0">{{ 'Temporarily out of stock'|trans }}</p>
			{% endif %}
		</div>
	</div>
</div>
