{% extends 'base.html.twig' %}

{% set pagetitle = 'Posts '|trans ~ post.name %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard' | trans), "dashboard_admin_post_index": 'Manage posts'|trans, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive overflow-y-hslugden">
                        <table class="table table-borderless table-striped table-hover table-sm">
                            <thead class="">
                                <tr>
                                    <th colspan="2">
                                        <i class="fas fa-file fa-fw text-muted"></i>
                                        {{ "General information"|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td wslugth="30%">#</th>
                                    <td>{{ post.id }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Name'|trans }}</th>
                                    <td>{{ post.name }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Slug'|trans }}</th>
                                    <td>{{ post.slug }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Content'|trans }}</th>
                                    <td>{{ post.content | html_markdown }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Category'|trans }}</th>
                                    <td>{{ post.category.name }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Views'|trans }}</th>
                                    <td>{{ post.views }}</td>
                                </tr>
                                {% if post.tags %}
                                    <tr>
                                        <td wslugth="30%">{{ 'Tags'|trans }}</th>
                                        <td>{{ post.tags }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td wslugth="30%">{{ 'Meta title'|trans }}</th>
                                    <td>{{ post.metaTitle }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Meta description'|trans }}</th>
                                    <td>{{ post.metaDescription | html_markdown | nl2br }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Status'|trans }}</th>
                                    <td>
                                        <i class="fa-solid fa-circle fa-2xs text-{{ post.stringifyStatusClass }} me-2"></i>
                                        {{ post.stringifyStatus|trans }}
                                        <br>
                                        {% if post.deletedAt %}
                                            <i class="fa-solid fa-circle fa-2xs text-danger-soft me-2"></i>{{ "Deleted"|trans }}
                                            <br>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if post.publishedAt %}
                                    <tr>
                                        <td wslugth="30%">{{ 'Published date'|trans }}</th>
                                        <td>{{ post.publishedAt ? post.publishedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td wslugth="30%">{{ 'Creation date'|trans }}</th>
                                    <td>{{ post.createdAt ? post.createdAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Update date'|trans }}</th>
                                    <td>{{ post.updatedAt ? post.updatedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Deleted date'|trans }}</th>
                                    <td>{{ post.deletedAt ? post.deletedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex pb-3 my-3">
                        <a href="{{ path('dashboard_admin_post_index') }}" class="btn btn-sm btn-dark me-2">
                            <i class="fas fa-list fa-fw"></i>
                        </a>
                        <a href="{{ path('dashboard_admin_post_edit', {'slug': post.slug}) }}" class="btn btn-primary btn-sm me-2">
                            <i class="fas fa-pencil fa-fw"></i>
                        </a>
                        {{ include('dashboard/admin/post/articles/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
