{% extends 'base.html.twig' %}

{% set pagetitle = 'Order history'|trans %}
{% block title pagetitle %}

{% block body %}
    <section class="pt-sm-7">
        <div class="container pt-3 pt-xl-5">
            <div class="row">
                {% include "global/dashboard-items-navbar-vertical.html.twig" with {activerd: 'order_index'} %}
                <div class="col-lg-8 col-xl-9 ps-lg-4 ps-xl-6">
                    <div class="d-flex justify-content-between align-items-center mb-5 mb-sm-6">
                        <h1 class="h3 mb-0">{{ pagetitle }}</h1>
                        <button class="btn btn-primary d-lg-none flex-shrink-0 ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                            <i class="fas fa-sliders-h"></i> {{ 'Menu'|trans }}
                        </button>
                    </div>
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center p-0 pb-3">
                            <h6 class="card-title mb-0">{{ 'Recent orders'|trans }}</h6>
                            <div class="col-md-3 ms-auto">
                                <div>
                                    <select class="form-select js-choice" aria-label=".form-select-sm">
                                        <option>Sort by</option>
                                        <option selected="">All</option>
                                        <option>Delivered</option>
                                        <option>Processing</option>
                                        <option>Cancelled</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0 pt-5">
                            {% for order in orders %}
                                <div class="row align-items-md-center">
                                    <div class="col-5 col-md-2">
                                        <div class="bg-light p-2 rounded-2">
                                            <img src="assets/images/shop/02.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-10">
                                        <div class="row g-2 align-items-center">
                                            <div class="col-md-6 mb-3 mb-md-0">
                                                <p class="heading-color fw-normal small mb-2">
                                                    {{ 'Reference'|trans }}: 
                                                    <span class="text-primary">{{ order.ref }}</span>
                                                </p>
                                                <h6 class="mb-2">
                                                    <a href="#">Round neck cotton t-shirt</a>
                                                    <a href="{{ path("order_detail", {id: order.id}) }}">{{ 'Detail'|trans }}</a>
                                                </h6>
                                                <ul class="nav nav-divider small align-items-center">
                                                    <li class="nav-item">Size: <b>L</b></li>
                                                    <li class="nav-item">
                                                        {{ 'Shipped date'|trans }}: 
                                                        <b>10 Nov, 2024</b>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 text-md-end ms-auto">
                                                <p class="text-{{ order.getStatusClass }} fw-semibold mb-1 mb-md-3">
                                                    <i class="fas fa-check me-1"></i>{{ order.stringifyStatus|trans }}
                                                </p>
                                                <small>{{ 'Total price'|trans }}</small>
                                                <h5 class="mt-1 mb-0">
                                                    {{ (settings['currency_position']  == 'left' ? settings['currency_symbol'] : '') ~ order.totalPrice ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-5">
                            {% else %}
                                {% component alert with {type: 'info', closeButton: false, class: 'my-2'} %}
                                    {% block content %}
                                        {{ 'No orders found'|trans }}
                                    {% endblock %}
                                {% endcomponent %}
                            {% endfor %}
                            {#  
                                <div class="row align-items-md-center">
                                    <!-- Image -->
                                    <div class="col-5 col-md-2">
                                        <div class="bg-light p-2 rounded-2">
                                            <img src="assets/images/shop/03.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-10">
                                        <div class="row g-2 align-items-center">
                                            <!-- Content -->
                                            <div class="col-md-6 mb-3 mb-md-0">
                                                <p class="heading-color fw-normal small mb-2">Order no: <span class="text-primary">#548762</span></p>
                                                <h6 class="mb-2"><a href="#">Men baseball cap</a></h6>
                                                <!-- List -->
                                                <ul class="nav nav-divider small align-items-center">
                                                    <li class="nav-item">Size: <b>S</b></li>
                                                    <li class="nav-item">Shipped date: <b>05 Nov, 2023</b></li>
                                                </ul>
                                            </div>
            
                                            <!-- Price and button -->
                                            <div class="col-md-4 text-md-end ms-auto">
                                                <p class="text-danger fw-semibold mb-1 mb-md-3"><i class="bi bi-x-circle-fill me-1"></i>Cancelled</p>
                                                <small>Total amount</small>
                                                <h5 class="mt-1 mb-0">$115.00</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>	
                                <hr class="my-5">
                                <div class="row align-items-md-center">
                                    <!-- Image -->
                                    <div class="col-5 col-md-2">
                                        <div class="bg-light p-2 rounded-2">
                                            <img src="assets/images/shop/01.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-10">
                                        <div class="row g-2 align-items-center">
                                            <!-- Content -->
                                            <div class="col-md-6 mb-3 mb-md-0">
                                                <p class="heading-color fw-normal small mb-2">Order no: <span class="text-primary">#248795</span></p>
                                                <h6 class="mb-2"><a href="#">Woman skincare drops</a></h6>
                                                <!-- List -->
                                                <ul class="nav nav-divider small align-items-center mt-1">
                                                    <li class="nav-item">Shipped date: <b>05 Nov, 2023</b></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 mb-3 mb-md-0">
                                                <a href="#" class="btn btn-sm btn-light border mb-3"><i class="bi bi-truck me-2"></i>Track order</a>
                                                <p class="text-primary fw-semibold small mb-0"><i class="bi bi-check-circle-fill me-1"></i>In Transit</p>
                                                <small class="text-body-secondary">Expected at NY,USA</small>
                                            </div>
                                            <div class="col-md-3 ms-auto text-md-end">
                                                <p class="text-warning fw-semibold mb-1 mb-md-3"><i class="bi bi-check-circle-fill me-1"></i>Processing</p>
                                                <small>Total amount</small>
                                                <h5 class="mb-3">$98.00</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-5">
                            #}
                        </div>
                        <div class="card-footer bg-transparent text-end p-0">
                            {{ knp_pagination_render(orders, null, {}, {'align': 'center'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
