{% extends 'base.html.twig' %}

{% set pagetitle = 'Manage comments'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row g-3 align-items-center mb-5">
                <div class="col-xl-6">
                    <form class="rounded position-relative">
                        <input class="form-control pe-5" type="search" name="keyword" value="{{ app.request.get('keyword') }}" placeholder="{{ 'Search...'|trans }}" aria-label="Search">
                        <button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
                            <i class="fas fa-search fs-6"></i>
                        </button>
                    </form>
                </div>
                <div class="col-sm-6 col-xl-3 ms-auto">
                    <form>
                        <select class="form-select js-choice" aria-label=".form-select-sm" autocomplete="off">
                            <option>{{ "Sort by"|trans }}</option>
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "desc"|trans ~ ')', "c.publishedAt", {"direction": "desc", "criteria": "c.publishedAt"}) }}</option>
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "asc"|trans ~ ')', "c.publishedAt", {"direction": "asc", "criteria": "c.publishedAt"}) }}</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center p-0 pb-3">
                            <h6 class="card-title mb-0">
                                {{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}
                            </h6>
                            <div></div>
                        </div>
                        {% if rows.getTotalItemCount > 0 %}
                            {% include "dashboard/admin/comment/manage-comments-table.html.twig" with {rows: rows} %}
                        {% else %}
                            <div class="card-footer bg-transparent p-0">
                                {% include "global/message.html.twig" with { type: "dark", message: ('No comments found'|trans), icon: "fas fa-exclamation", class: "my-2" } %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
