{% extends 'base.html.twig' %}

{% set pagetitle = 'Configuration'|trans %}
{% block title pagetitle %}

{% block body %}
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-12 col-12">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <h4 class="mb-0">
                        {{ pagetitle }} 
                    </h4>
                </div>
                {{ form_start(regionalConfigurationFilter, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
                    <div class="card-body">
                        <div>
                            {% include "global/message.html.twig" with { type: "info", icon: "fas fa-exclamation", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                        </div>
                        {{ form_widget(regionalConfigurationFilter) }}
                        <div class="row">
                            <div class="col-12 pt-2">
                                <button type="submit" class="btn btn-primary">{{ "Save"|trans }}</button>
                            </div>
                        </div>
                    </div>
                {{ form_end(regionalConfigurationFilter) }}
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 col-12"></div>
    </div>
{% endblock %}
