{% extends 'base.html.twig' %}

{% set pagetitle = 'Dashboard'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
			<div class="row align-items-center g-4 mb-5">
				<div class="col-md-6">
					<h4 class="mb-0">{{ "Users summary"|trans }}</h4>
				</div>
				<div class="col-md-5 ms-auto text-sm-end">
					<a href="{{ path('dashboard_admin_user_index') }}" class="btn btn-light btn-sm mb-0">
						{{ "Manage users"|trans }}
					</a>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getUsers({"role": "user", "count": true, "isVerified": true, "isSuspended": false}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-primary mb-0">+</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "Active"|trans }}</p>
					</div>
				</div>
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getUsers({"role": "user", "count": true, "isVerified": false, "isSuspended": false}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-danger mb-0">-</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "Inactive"|trans }}</p>
					</div>
				</div>
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getUsers({"role": "user", "count": true, "isVerified": false, "isSuspended": true}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-danger mb-0">-</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "Suspended"|trans }}</p>
					</div>
				</div>
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getUsers({"count": true}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-primary mb-0">+</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "Total"|trans }}</p>
					</div>
				</div>
			</div>
			{% set users = setting.getUsers({"role": "user", "isVerified": "all", "limit": 3}).getQuery().getResult() %}
			{% if users | length > 0 %}
				<div class="my-5">
					{% include "dashboard/admin/user/manage-users-table.html.twig" with {rows: users, header: false, pagination: false} %}
				</div>
			{% endif %}
			<div class="row align-items-center g-4 mb-5">
				<div class="col-md-6">
					<h4 class="mb-0">{{ "Products summary"|trans }}</h4>
				</div>
				<div class="col-md-5 ms-auto text-sm-end">
					<a href="{{ path('dashboard_admin_product_index') }}" class="btn btn-light btn-sm mb-0">
						{{ "Manage products"|trans }}
					</a>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getProducts({"count": true, "isOnline": "all", "elapsed": "all"}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-primary mb-0">+</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "Added"|trans }}</p>
					</div>
				</div>
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getProducts({"count": true, "isOnline": true, "elapsed": "all"}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-primary mb-0">+</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "Published"|trans }}</p>
					</div>
				</div>
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getProducts({"count": true, "isOnline": true, "elapsed": false}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-primary mb-0">+</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "Upcoming"|trans }}</p>
					</div>
				</div>
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getProducts({"count": true, "isOnline": false, "elapsed": "all"}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-danger mb-0">-</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "No published"|trans }}</p>
					</div>
				</div>
			</div>
			{% set products = setting.getProducts({"isOnline": "all", "elapsed": "all", "limit": 3}).getQuery().getResult() %}
			{% if products | length > 0 %}
				<div class="my-5">
					{% include "dashboard/admin/products/product/manage-products-table.html.twig" with {rows: products, header: false, pagination: false} %}
				</div>
			{% endif %}
			<div class="row align-items-center g-4 mb-5">
				<div class="col-md-6">
					<h4 class="mb-0">{{ "Testimonials summary"|trans }}</h4>
				</div>
				<div class="col-md-5 ms-auto text-sm-end">
					<a href="{{ path('dashboard_admin_testimonial_index') }}" class="btn btn-light btn-sm mb-0">
						{{ "Manage testimonials"|trans }}
					</a>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getTestimonials({"count": true, "isOnline": "all"}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-primary mb-0">+</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "Added"|trans }}</p>
					</div>
				</div>
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getTestimonials({"count": true, "isOnline": true}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-primary mb-0">+</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "Published"|trans }}</p>
					</div>
				</div>
				<div class="col">
					<div class="bg-light border text-center rounded p-4">
						<div class="d-flex justify-content-center">
							<h4 class="mb-0">
								{{ setting.getTestimonials({"count": true, "isOnline": false}).getQuery().getSingleScalarResult() }}
							</h4>
							<span class="h4 text-danger mb-0">-</span>
						</div>
						<p class="text-center heading-color mb-0">{{ "No published"|trans }}</p>
					</div>
				</div>
			</div>
			{% set testimonials = setting.getTestimonials({"isOnline": "all", "limit": 3}).getQuery().getResult() %}
			{% if testimonials | length > 0 %}
				<div class="my-5">
					{% include "dashboard/admin/testimonials/manage-testimonials-table.html.twig" with {rows: testimonials, header: false, pagination: false} %}
				</div>
			{% endif %}
			<div class="row align-items-center g-4 mb-5">
				<div class="col-md-6">
					<h4 class="mb-0">{{ "Reviews summary"|trans }}</h4>
				</div>
				<div class="col-md-5 ms-auto text-sm-end">
					<a href="" class="btn btn-light btn-sm mb-0">
						{{ "Manage reviews"|trans }}
					</a>
				</div>
			</div>
        </div>
    </section>
{% endblock %}
