{% extends 'base.html.twig' %}

{% set pagetitle = 'My Account'|trans %}
{% block title pagetitle %}

{% block body %}
    <section class="pt-sm-7">
        <div class="container pt-3 pt-xl-5">
            <div class="row">
                {% include "global/dashboard-items-navbar-vertical.html.twig" with {activerd: 'account_profile'} %}
                <div class="col-lg-8 col-xl-9 ps-lg-4 ps-xl-6">
                    <div class="d-flex justify-content-between align-items-center mb-5 mb-sm-6">
                        <h1 class="h3 mb-0">{{ 'My profile'|trans }}</h1>
                        <button class="btn btn-primary d-lg-none flex-shrink-0 ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                            <i class="fas fa-sliders-h"></i> {{ 'Menu'|trans }}
                        </button>
                    </div>
                    <div class="card bg-transparent p-0">
                        <div class="card-header bg-transparent border-bottom p-0 pb-3">
                            <h6 class="mb-0">{{ 'Personal informations'|trans }}</h6>
                        </div>
                        <div class="card-body px-0">
                            <div class="mb-4">
                                <div class="mb-4">
                                    <p class="heading-color fw-bold mb-0">{{ 'First name'|trans }} : 
                                        <span class="text-secondary" data-role="firstname">{{ app.user.firstname|lower|capitalize }}</span>
                                    </p>
                                </div>
                                <div class="mb-4">
                                    <p class="heading-color fw-bold mb-0">{{ 'Last name'|trans }} : 
                                        <span class="text-secondary" data-role="lastname">{{ app.user.lastname|lower|capitalize }}</span>
                                    </p>
                                </div>
                                <div class="mb-4">
                                    <p class="heading-color fw-bold mb-0">{{ 'Email address'|trans }} : 
                                        <span class="text-secondary" data-role="email">{{ app.user.email }}</span>
                                    </p>
                                </div>
                                {#  
                                {% if is_granted("ROLE_EMPLOYEE") %}
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Telephone No'|trans }} : 
                                            <span class="text-secondary" data-role="phone">{{ app.user.phone }}</span>
                                        </p>
                                    </div>
                                {% endif %}
                                #}
                                <div class="mb-4">
                                    <p class="heading-color fw-bold mb-0">{{ 'Registered the'|trans }} : 
                                        <span class="text-secondary">
                                            {{ app.user.createdAt|localizeddate('full', 'short', app.request.locale, date_timezone, date_format) }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent p-0 text-end">
                            <a href="{{ path("dashboard_account_edit") }}" class="btn btn-success-soft mb-0">
                                {{ 'Edit Profile'|trans }}
                            </a>
                            <a href="{{ path("dashboard_account_change_password") }}" class="btn btn-primary mb-0">
                                {{ 'Edit Password'|trans }}
                            </a>
                        </div>
                    </div>
                    {% if not is_granted('ROLE_TEAM') and app.user.rulesAgreements is not null %}
                        <div class="text-center my-5"><i class="fas fa-ellipsis"></i></div>
                        <div class="card bg-transparent p-0">
                            <div class="card-header bg-transparent border-bottom p-0 pb-3">
                                <h6 class="mb-0">{{ 'Rule'|trans }}</h6>
                            </div>
                            <div class="list-group list-group-flush flex-grow-1 px-0" data-role="rules">
                                {% for rules_agreement in app.user.rulesAgreements %}
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-rules-{{ rules_agreement.rules.id }}" class="list-group-item d-flex flex-column">
                                        <span class="fw-bold">
                                            {{ 'Regulations published on'|trans }}
                                            {{ rules_agreement.rules.publishedAt | localizeddate('full', 'short', app.request.locale, date_timezone, date_format) }}
                                        </span>
                                        <span class="text-muted">
                                            {{ rules_agreement.accepted ? "Accepted"|trans : "Refused"|trans }} le 
                                            {{ rules_agreement.agreedAt | localizeddate('full', 'short', app.request.locale, date_timezone, date_format) }}
                                        </span>
                                    </a>
                                    <div class="modal fade" id="modal-rules-{{ rules_agreement.rules.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        {{ 'Regulations published on'|trans }}
                                                        {{ rules_agreement.rules.publishedAt | localizeddate('full', 'short', app.request.locale, date_timezone, date_format) }}
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ rules_agreement.rules.content | html_markdown }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {#  
                    <div class="text-center my-5"><i class="fas fa-ellipsis"></i></div>
                    <div class="card bg-transparent p-0">
                        <div class="card-header bg-transparent border-bottom p-0 pb-3">
                            <h6 class="mb-0">
                                {{ 'My Profile'|trans }} {{ website_name }}
                            </h6>
                        </div>
                        <div class="card-body px-0">
                            <div class="mb-4">
                                {% if is_granted("ROLE_CUSTOMER") %}
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Social reason'|trans }} : 
                                            <span class="text-secondary">{{ app.user.client.name }}</span>
                                        </p>
                                    </div>
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Member'|trans }} : 
                                            <span class="text-secondary">{{ app.user.client.member.name }}</span>
                                        </p>
                                    </div>
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Sales Person'|trans }} : 
                                            <span class="text-secondary">{{ app.user.client.salesPerson.fullName }}</span>
                                        </p>
                                    </div>
                                {% endif %}
                                {% if is_granted("ROLE_COLLABORATOR") %}
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Member'|trans }} : 
                                            <span class="text-secondary">{{ app.user.member.name }}</span>
                                        </p>
                                    </div>
                                {% endif %}
                                {% if is_granted("ROLE_SALES_PERSON") %}
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Member'|trans }} : 
                                            <span class="text-secondary">{{ app.user.member.name }}</span>
                                        </p>
                                    </div>
                                {% endif %}
                                {% if is_granted("ROLE_MANAGER") and is_granted('ROLE_TEAM') and app.user.members|length == 1 %}
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Member'|trans }} : 
                                            <span class="text-secondary">{{ app.user.member.name }}</span>
                                        </p>
                                    </div>
                                {% endif %}
                                {% if is_granted("ROLE_MANAGER") and is_granted('ROLE_TEAM') and app.user.members|length > 1 %}
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Main member'|trans }} : 
                                            <span class="text-secondary">{{ app.user.member.name }}</span>
                                        </p>
                                    </div>
                                {% endif %}
                                {% if is_granted("ROLE_CUSTOMER") %}
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Address'|trans }} :
                                            <span class="text-secondary">
                                                <br/>{{ app.user.client.address.streetAddress }}
                                                {% if app.user.client.address.restAddress is not null %}
                                                <br/>{{ app.user.client.address.restAddress }}
                                                {% endif %}
                                                <br/>{{ app.user.client.address.zipCode }} - {{ app.user.client.address.locality }}
                                            </span>
                                        </p>
                                    </div>
                                {% endif %}
                                {% if not is_granted("ROLE_CUSTOMER") and not is_granted('ROLE_TEAM') and app.user.member.address is not null %}
                                    <div class="mb-4">
                                        <p class="heading-color fw-bold mb-0">{{ 'Address'|trans }} :
                                            <span class="text-secondary">
                                                <br/>{{ app.user.member.address.streetAddress }}
                                                {% if app.user.member.address.restAddress is not null %}
                                                <br/>{{ app.user.member.address.restAddress }}
                                                {% endif %}
                                                <br/>{{ app.user.member.address.zipCode }} - {{ app.user.member.address.locality }}
                                            </span>
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if is_granted("ROLE_MANAGER") and is_granted('ROLE_TEAM') and app.user.members|length > 1 %}
                        <div class="card bg-transparent p-0">
                            <div class="card-header bg-transparent border-bottom p-0 pb-3">
                                <h6 class="mb-0">
                                    {{ 'Member'|trans }}
                                </h6>
                                <ul class="list-group list-group-flush flex-grow-1" data-role="members">
                                    {% for member in app.user.members %}
                                        <li class="list-group-item">{{ member.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-footer bg-transparent p-0 text-end">
                        <a href="{{ path("contact") }}" class="btn btn-danger mb-0">
                            {{ 'Report an error'|trans }}
                        </a>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
