<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		<thead class="">
			<tr>
				<th>#</th>
				<th>{{ 'Name'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for category in rows %}
				{% set link = path('dashboard_admin_product_category_edit', { id : category.id }) %}
				<tr>
					<td>{{ category.id }}</td>
					<td>
						<span class="text-decoration-none">{{ category.name }}</span>
					</td>
					<td>
						<div class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
								<a class="dropdown-item" href="{{ link }}">
									<i class="fas fa-pencil fa-fw dropdown-item-icon"></i>
									{{ 'Edit'|trans }}
								</a>
								<a class="dropdown-item" href="{{ path('dashboard_admin_product_category_show', {id : category.id }) }}">
									<i class="fas fa-eye fa-fw dropdown-item-icon"></i>
									{{ 'Show'|trans }}
								</a>
								<a href="#" onclick="event.preventDefault(); confirm('{{ "Are you sure you want to delete this item?"|trans }}') && document.getElementById('js-category-delete-form').submit();" class="dropdown-item">
									<i class="fas fa-trash fa-fw dropdown-item-icon"></i>
									{{ 'Delete'|trans }}
								</a>
								<form id="js-category-delete-form" action="{{ path('dashboard_admin_product_category_delete', {id : category.id }) }}" method="post" class="">
									<input type="hidden" name="_token" value="{{ csrf_token('category_deletion_' ~ category.id) }}">
									<input type="hidden" name="_method" value="DELETE">
								</form> 
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="card-footer bg-transparent text-end p-0">
		{{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
	</div>
</div>
