{% extends 'base.html.twig' %}

{% set pagetitle = 'Category '|trans ~ category.name %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard' | trans), "dashboard_admin_product_category_index": 'Manage product categories'|trans, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive overflow-y-hidden">
                        <table class="table mb-0 text-nowrap table-hover table-centered">
                            <thead class="">
                                <tr>
                                    <th colspan="2">
                                        <i class="fas fa-file text-muted"></i>
                                        {{ pagetitle }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="30%">{{ 'Name'|trans }}</th>
                                    <td>{{ category.name }}</td>
                                </tr>
                                <tr>
                                    <td width="30%">#</th>
                                    <td>{{ category.id }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-md-flex pb-3 my-3">
                        <a href="{{ path('dashboard_admin_product_category_index') }}" class="btn btn-sm btn-dark me-2">
                            <i class="fas fa-list fa-fw"></i>
                        </a>
                        <a href="{{ path('dashboard_admin_product_category_edit', {'id': category.id}) }}" class="btn btn-primary btn-sm me-2">
                            <i class="fas fa-pencil fa-fw"></i>
                        </a>
                        {{ include('dashboard/admin/products/category/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
