<div class="card bg-transparent p-0">
    <div class="card-header bg-transparent border-bottom p-0 pb-3">
        <h6 class="mb-0">
            {{ pagetitle }} 
            {% if app.request.attributes.get('_route') == 'dashboard_admin_user_edit' %}
                "{{ user.getFullName | lower | capitalize }}"
            {% endif %}
        </h6>
    </div>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
        <div class="card-body px-0">
            <div>
                {% include "global/message.html.twig" with { type: "info", icon: "fas fa-exclamation", message: ("The fields preceded with a red * are mandatory"|trans) } %}
            </div>
            {{ form_widget(form) }}
        </div>
    {{ form_end(form) }}
</div>
