{% extends 'base.html.twig' %}

{% set pagetitle = 'Account information of '|trans ~ user.getFullName | lower | capitalize %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard' | trans), "dashboard_admin_user_index": 'Manage users'|trans, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive overflow-y-hslugden">
                        <table class="table table-borderless table-striped table-hover table-sm">
                            <thead class="">
                                <tr>
                                    <th colspan="2">
                                        <i class="fas fa-file fa-fw text-muted"></i>
                                        {{ "General information"|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td wslugth="30%">#</th>
                                    <td>{{ user.id }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Avatar'|trans }}</th>
                                    <td>{% include "global/user-avatar.html.twig" with { user: user, type: "xl" } %}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Username'|trans }}</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Email'|trans }}</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Full name'|trans }}</th>
                                    <td>{{ user.getFullName | lower | capitalize }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Profil'|trans }}</th>
                                    <td>
                                        <a href="{{ path('user_profil', { id : user.id }) }}" target="_blank">
                                            {{ user.getCrossRoleName | lower | capitalize }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Role'|trans }}</th>
                                    <td>{{ user.getRole|trans|raw }}</td>
                                </tr>
                                {% if is_granted('ROLE_ADMIN_APPLICATION') and is_granted("ROLE_TEAM") %}
                                    {% if user.about %}
                                        <tr>
                                            <td wslugth="30%">{{ 'About'|trans }}</th>
                                            <td>{{ user.about | html_markdown }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if user.designation %}
                                        <tr>
                                            <td wslugth="30%">{{ 'Designation'|trans }}</th>
                                            <td>{{ user.designation }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                                <tr>
                                    <td wslugth="30%">{{ 'Last login / IP'|trans }}</th>
                                    <td>
                                        {% if user.lastLogin %}
                                            {{ user.lastLogin | format_date('long') }}
                                        {% else %}
                                            {{ "N/A"|trans }}
                                        {% endif %}
                                        <br>
                                        <a href="https://ipinfo.io/{{ user.lastLoginIp }}" target="_blank">{{ user.lastLoginIp }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ "Reviews"|trans }}</th>
                                    <td>{{ user.reviews | length }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ "Favorites"|trans }}</th>
                                    <td>{{ user.favorites | length }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ "Following"|trans }}</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Status'|trans }}</th>
                                    <td>
                                        {% if user.isVerified == false %}
                                            <i class="fa-solid fa-circle fa-2xs text-danger me-2"></i>{{ "Disabled"|trans }}
                                            <br>
                                        {% else %}
                                            <i class="fa-solid fa-circle fa-2xs text-success me-2"></i>{{ "Enabled"|trans }}
                                            <br>
                                        {% endif %} 
                                        {% if user.deletedAt %}
                                            <i class="fa-solid fa-circle fa-2xs text-danger-soft me-2"></i>{{ "Deleted"|trans }}
                                            <br>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Creation date'|trans }}</th>
                                    <td>{{ user.createdAt ? user.createdAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Update date'|trans }}</th>
                                    <td>{{ user.updatedAt ? user.updatedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>  
                                <tr>
                                    <td wslugth="30%">{{ 'Deleted date'|trans }}</th>
                                    <td>{{ user.deletedAt ? user.deletedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex pb-3 my-3">
                        <a href="{{ path('dashboard_admin_user_index') }}" class="btn btn-sm btn-dark me-2">
                            <i class="fas fa-list fa-fw"></i>
                        </a>
                        <a href="" class="btn btn-primary btn-sm me-2">
                            <i class="fas fa-pencil fa-fw"></i>
                        </a>
                        {{ include('dashboard/admin/user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
