{% extends 'base.html.twig' %}

{% set pagetitle = 'All products'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <aside class="col-xl-3">
                    <div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
                        <div class="offcanvas-header bg-light">
                            <h6 class="offcanvas-title" id="offcanvasSidebarLabel">{{ 'Advance Filter'|trans }}</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body flex-column p-3 p-xl-0">
                            <div class="accordion accordion-alt" id="accordionExample">
                                <!-- Availability -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Availability
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <form
                                            class="accordion-body">

                                            <!-- Availability group -->
                                            <div class="form-check">
                                                <input class="form-check-input focus-shadow-none" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked="">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    All
                                                </label>
                                            </div>
                                            <div class="form-check mt-2">
                                                <input class="form-check-input focus-shadow-none" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    New Arrival
                                                </label>
                                            </div>
                                            <div class="form-check mt-2">
                                                <input class="form-check-input focus-shadow-none" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                                <label class="form-check-label" for="flexRadioDefault3">
                                                    On Stock Only
                                                </label>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <!-- Categories -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fs-6 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            Categories
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <form
                                            class="accordion-body">

                                            <!-- Checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="category1">
                                                <label class="form-check-label heading-color" for="category1">Fashion</label>
                                                <span class="small float-end">(215)</span>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="category2">
                                                <label class="form-check-label heading-color" for="category2">Electronics</label>
                                                <span class="small float-end">(142)</span>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="category3">
                                                <label class="form-check-label heading-color" for="category3">Games</label>
                                                <span class="small float-end">(25)</span>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="category4">
                                                <label class="form-check-label heading-color" for="category4">Books</label>
                                                <span class="small float-end">(81)</span>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="category5">
                                                <label class="form-check-label heading-color" for="category5">Mobile</label>
                                                <span class="small float-end">(354)</span>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="category6">
                                                <label class="form-check-label heading-color" for="category6">Bags</label>
                                                <span class="small float-end">(41)</span>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="category7">
                                                <label class="form-check-label heading-color" for="category7">Beauty products</label>
                                                <span class="small float-end">(35)</span>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="category8">
                                                <label class="form-check-label heading-color" for="category8">Grocery</label>
                                                <span class="small float-end">(41)</span>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <!-- Price -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Price
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <form
                                            class="accordion-body">

                                            <!-- Checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="price1">
                                                <label class="form-check-label heading-color" for="price1">$0 to $200</label>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="price2">
                                                <label class="form-check-label heading-color" for="price2">$200 to $500</label>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="price3">
                                                <label class="form-check-label heading-color" for="price3">$500 to $1500</label>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="checkbox" value="" id="price4">
                                                <label class="form-check-label heading-color" for="price4">$1500 to more</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Color -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Color
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <form
                                            class="accordion-body">
                                            <!-- Radio color tabs -->
                                            <div class="color-check-radio">
                                                <input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor1" style="background-color: #9a0a0a;">
                                                <label class="form-check-label" for="flexRadiocolor1"></label>

                                                <input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor2" style="background-color: #32C7F5;">
                                                <label class="form-check-label" for="flexRadiocolor2"></label>

                                                <input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor3" style="background-color: #F7C32E;">
                                                <label class="form-check-label" for="flexRadiocolor3"></label>

                                                <input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor4" style="background-color: #333369;">
                                                <label class="form-check-label" for="flexRadiocolor4"></label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Rating star -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Rating star
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <form class="accordion-body">
                                            <ul
                                                class="list-inline mb-0 g-3">
                                                <!-- Item -->
                                                <li class="list-inline-item mb-0">
                                                    <input type="checkbox" class="btn-check" id="btn-check-6">
                                                    <label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-6">1<i class="bi bi-star-fill"></i>
                                                    </label>
                                                </li>
                                                <!-- Item -->
                                                <li class="list-inline-item mb-0">
                                                    <input type="checkbox" class="btn-check" id="btn-check-7">
                                                    <label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-7">2<i class="bi bi-star-fill"></i>
                                                    </label>
                                                </li>
                                                <!-- Item -->
                                                <li class="list-inline-item mb-0">
                                                    <input type="checkbox" class="btn-check" id="btn-check-8">
                                                    <label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-8">3<i class="bi bi-star-fill"></i>
                                                    </label>
                                                </li>
                                                <!-- Item -->
                                                <li class="list-inline-item mb-0">
                                                    <input type="checkbox" class="btn-check" id="btn-check-15">
                                                    <label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-15">4<i class="bi bi-star-fill"></i>
                                                    </label>
                                                </li>
                                                <!-- Item -->
                                                <li class="list-inline-item mb-0">
                                                    <input type="checkbox" class="btn-check" id="btn-check-16">
                                                    <label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-16">5<i class="bi bi-star-fill"></i>
                                                    </label>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between p-2 p-xl-0 mt-xl-3">
                                <button class="btn btn-link text-primary-hover p-0 mb-0">{{ 'Clear all'|trans }}</button>
                                <button class="btn btn-primary mb-0">{{ 'Filter Result'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-xl-9 ps-xl-6">
                    <form class="row g-2 g-xl-4 mb-4">
                        <div class="col-md-6">
                            <div class="rounded position-relative">
                                <input class="form-control bg-light pe-5" type="search" placeholder="{{ 'Search products by name or keyword...'|trans }}" aria-label="{{ 'Search'|trans }}">
                                <button class="btn bg-transparent border-0 px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
                                    <i class="fab fa-searchengin"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 ms-auto">
                            <div class="row">
                                <div class="col-12 mb-4 d-flex flex-column flex-md-row justify-content-md-between">
                                    <div class="d-flex flex-column flex-sm-row">
                                        <div class="dropdown me-0 me-sm-3 mb-3 mb-sm-0">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdown-sort" data-bs-toggle="dropdown" aria-expanded="false">
                                                {{ params.limit }} produits par page
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-sort">
                                                <li><a class="dropdown-item" href="{{ path("products", params|merge({page: 1, limit: 18})) }}">18 produits par page</a></li>
                                                <li><a class="dropdown-item" href="{{ path("products", params|merge({page: 1, limit: 36})) }}">36 produits par page</a></li>
                                                <li><a class="dropdown-item" href="{{ path("products", params|merge({page: 1, limit: 72})) }}">72 produits par page</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdown-sort" data-bs-toggle="dropdown" aria-expanded="false">
                                                {% if params.sort == "new-products" %}
                                                    Nouveautés
                                                {% elseif params.sort == "price-asc" %}
                                                    Valeur croissante
                                                {% elseif params.sort == "price-desc" %}
                                                    Valeur décroissante
                                                {% elseif params.sort == "name-asc" %}
                                                    Tri A -> Z
                                                {% elseif params.sort == "name-desc" %}
                                                    Tri Z -> A
                                                {% endif %}
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-sort">
                                                <li><a class="dropdown-item" href="{{ path("products", params|merge({page: 1, sort: "new-products"})) }}">Nouveautés</a></li>
                                                <li><a class="dropdown-item" href="{{ path("products", params|merge({page: 1, sort: "price-asc"})) }}">Valeur croissante</a></li>
                                                <li><a class="dropdown-item" href="{{ path("products", params|merge({page: 1, sort: "price-desc"})) }}">Valeur décroissante</a></li>
                                                <li><a class="dropdown-item" href="{{ path("products", params|merge({page: 1, sort: "name-asc"})) }}">Tri A -> Z</a></li>
                                                <li><a class="dropdown-item" href="{{ path("products", params|merge({page: 1, sort: "name-desc"})) }}">Tri Z -> A</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 d-grid d-xl-none">
                            <button class="btn btn-dark mb-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                                <i class="fas fa-sliders-h me-1"></i>
                                {{ 'Show filter'|trans }}
                            </button>
                        </div>
                    </form>
                    {% if products.getTotalItemCount > 0 %}
                        <div class="row g-4 g-lg-5">
                            {% for product in products %}
                                {% include "global/product-item-card.html.twig" with {product: product, thumbnailsize: [241, 241]} %}
                            {% endfor %}
                        </div>
                        {{ knp_pagination_render(products, null, {}, {'align': 'right'}) }}
                    {% else %}
                        {% include "global/message.html.twig" with { type: "dark", message: ('No products found'|trans), icon: "fas fa-exclamation", class: "my-2" } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
