{% extends 'base.html.twig' %}

{% set pagetitle = 'All products'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <aside class="col-xl-3">
                    <div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
                        <div class="offcanvas-header bg-light">
                            <h6 class="offcanvas-title" id="offcanvasSidebarLabel">{{ 'Advance Filter'|trans }}</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body flex-column p-3 p-xl-0">
                            <div class="accordion accordion-alt" id="accordionExample">
                                {% if settings["show_category_filter"] == "1" %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button fs-6 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#filter-category" aria-expanded="true" aria-controls="filter-category">
                                                {{ "Category"|trans }}
                                            </button>
                                        </h2>
                                        <div id="filter-category" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                            <form class="accordion-body">
                                                <select id="category" name="category" class="form-select" aria-label="Default select example" data-sort-options="1">
                                                    <option value="">&nbsp;</option>
                                                    {% for category in setting.getCategories({}).getQuery().getResult() %}
                                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter-price" aria-expanded="false" aria-controls="filter-price">
                                            {{ "Price"|trans }}
                                        </button>
                                    </h2>
                                    <div id="filter-price" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <form class="accordion-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="price1">
                                                <label class="form-check-label heading-color" for="price1">$0 to $200</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter-color" aria-expanded="false" aria-controls="filter-color">
                                            {{ "Color"|trans }}
                                        </button>
                                    </h2>
                                    <div id="filter-color" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <form class="accordion-body">
                                            <div class="color-check-radio">
                                                <input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor1" style="background-color: #9a0a0a;">
                                                <label class="form-check-label" for="flexRadiocolor1"></label>

                                                <input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor2" style="background-color: #32C7F5;">
                                                <label class="form-check-label" for="flexRadiocolor2"></label>

                                                <input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor3" style="background-color: #F7C32E;">
                                                <label class="form-check-label" for="flexRadiocolor3"></label>

                                                <input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor4" style="background-color: #333369;">
                                                <label class="form-check-label" for="flexRadiocolor4"></label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter-star" aria-expanded="false" aria-controls="filter-star">
                                            {{ "Rating star"|trans }}
                                        </button>
                                    </h2>
                                    <div id="filter-star" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <form class="accordion-body">
                                            <ul class="list-inline mb-0 g-3">
                                                <li class="list-inline-item mb-0">
                                                    <input type="checkbox" class="btn-check" id="btn-check-6">
                                                    <label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-6">1<i class="bi bi-star-fill"></i>
                                                    </label>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between p-2 p-xl-0 mt-xl-3">
                                <button class="btn btn-link text-primary-hover p-0 mb-0">{{ 'Clear all'|trans }}</button>
                                <button class="btn btn-primary mb-0">{{ 'Filter Result'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-xl-9 ps-xl-6">
                    <form class="row g-2 g-xl-4 mb-4">
                        <div class="col-md-6">
                            <div class="rounded position-relative">
                                <input class="form-control bg-light pe-5" type="search" placeholder="{{ 'Search...'|trans }}" aria-label="{{ 'Search'|trans }}">
                                <button class="btn bg-transparent border-0 px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
                                    <i class="fab fa-searchengin"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 d-grid ms-auto text-end">
                            {% if settings["show_rss_feed_button"] == "1" %}
                                <a href="{{ setting.getSettings("website_url")~"/rss" }}" class="btn btn-dark mb-0" data-bs-toggle="tooltip" title="{{"Products RSS feed"|trans}}" target="_blank">
									<i class="fas fa-rss fa-fw"></i>
                                    {{"RSS feed"|trans}}
								</a>
                            {% endif %}
                        </div>
                        <div class="col-sm-6 col-md-3 d-grid d-xl-none">
                            <button class="btn btn-dark mb-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                                <i class="fas fa-sliders-h me-1"></i>
                                {{ 'Show filter'|trans }}
                            </button>
                        </div>
                    </form>
                    {% if products.getTotalItemCount > 0 %}
                        <div class="row">
                            <div class="col">
                                <p class="mb-2">
                                    {{ "%resultsCount% product(s) found"|trans({'%resultsCount%': products.getTotalItemCount}) }}
                                </p>
                            </div>
                        </div>
                        <div class="row g-4 g-lg-5">
                            {% for product in products %}
                                {% include "global/product-card-item.html.twig" with {product: product, thumbnailsize: [241, 241]} %}
                            {% endfor %}
                        </div>
                        {{ knp_pagination_render(products, null, {}, {'align': 'right'}) }}
                    {% else %}
                        {% component alert with {type: 'info', closeButton: false, class: 'my-2'} %}
                            {% block content %}
                                {{ 'No products found'|trans }}
                            {% endblock %}
                        {% endcomponent %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
