{% extends 'base.html.twig' %}

{% set pagetitle = product.name %}
{% block title pagetitle %}

{% block meta_dynamic_seo %}
	<meta name="description" content="{{ product.content|raw|nl2br|striptags|slice(0, 200)|raw }}...">
	{% if product.tags %}
		<meta name="keywords" content="{{ product.name }}, {% for tag in product.tags %} {{ tag }} {{ not loop.last ? ', ' : '' }}{% endfor %}">
	{% else %}
		<meta name="keywords" content="{{ settings['website_keywords_' ~ app.request.locale] }}">
	{% endif %}
	<meta property="og:title" content="{{ product.name }}"/>
	{# <meta property="og:image" content="{{ app.request.getUriForPath() }}"> #}
	<meta property="og:description" content="{{ product.content|raw|nl2br|striptags|slice(0, 200)|raw }}...">
	<meta property="og:created_time" content="{{ product.createdAt|date('c') }}">
	<meta name="twitter:title" content="{{ product.name }}"/>
	{# <meta name="twitter:image" content="{{ app.request.getUriForPath() }}"> #}
	<meta name="twitter:image:alt" content="{{ product.name }}"/>
	<meta name="twitter:description" content="{{ product.content|raw|nl2br|striptags|slice(0, 200)|raw }}...">
{% endblock %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "shop": "Products"|trans, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    {% set reviewscount = setting.getReviews({"count": true, "shop_product": product.slug}).getQuery().getSingleScalarResult() %}
    <section class="pt-0">
        <div class="container">
            <div class="row mt-7">
                <div class="col-md-5 mb-5 mb-md-0">
                    <!-- Slider START -->
					<div id="carouselProductIndicators" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="{{ product.imageName ? asset(product.getImagePath) : product.getImagePlaceholder }}" class="justify-content-center align-self-center d-block w-100" alt="{{ product.name }}">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselProductIndicators" role="button" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">{{ "Previous"|trans }}</span>
						</a>
						<a class="carousel-control-next" href="#carouselProductIndicators" role="button" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">{{ "Next"|trans }}</span>
						</a>
					</div>
                </div>
                <div class="col-md-7 ps-md-6">
                    <div class="badge mb-3" style="background-color: {{ product.subCategories[0].color }}">
                        {{ product.subCategories[0].name }}
                    </div>
                    <h1 class="h2 mb-4">{{ product.brand.name }} - {{ product.name }}</h1>
                    <div class="d-flex align-items-center flex-wrap mb-4">
                        {% if product.enablereviews %}
                            <ul class="list-inline mb-0 rating-stars">
                                <li style="width:{{product.getRatingPercentage}}%;" class="list-inline-item me-0 stars-active">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <span class="text-secondary opacity-3 mx-2 mx-sm-3">|</span>
                            <span>{{ reviewscount }} {{"Review(s)"|trans|lower}}</span>
                            <span class="text-secondary opacity-3 mx-2 mx-sm-3">|</span>
                        {% endif %}
                        <span>86 sold</span>
                        <span class="text-secondary opacity-3 mx-2 mx-sm-3">|</span>
                        <span>{{ "Ref"|trans }}: {{ product.ref }}</span>
                    </div>
                    <h4 class="text-success mb-4">
                        {{ (settings['currency_position']  == 'left' ? settings['currency_symbol'] : '') ~ product.price ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}
                    </h4>
                    {#  
                    <div class="d-flex align-items-center gap-1 gap-sm-3 flex-wrap mt-2 mb-4">
                        <span class="d-block">Memory storage:</span>
                        <!-- First button -->
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked="">
                        <label class="btn btn-sm btn-light border btn-primary-soft-check mb-0" for="btnradio1">256 GB</label>
                        <!-- Second button -->
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                        <label class="btn btn-sm btn-light border btn-primary-soft-check mb-0" for="btnradio2">512 GB</label>
                        <!-- Third button -->
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
                        <label class="btn btn-sm btn-light border btn-primary-soft-check mb-0" for="btnradio3">1 TB</label>
                    </div>
                    <div class="color-check-radio d-flex align-items-center gap-3 mt-2 mb-4">
                        <span class="d-block">Select color:</span>
                        <div>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" style="background-color: #9a0a0a;">
                            <label class="form-check-label" for="flexRadioDefault1"></label>

                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" style="background-color: #32C7F5;">
                            <label class="form-check-label" for="flexRadioDefault2"></label>

                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" style="background-color: #F7C32E;">
                            <label class="form-check-label" for="flexRadioDefault3"></label>

                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked="" style="background-color: #333369;">
                            <label class="form-check-label" for="flexRadioDefault4"></label>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-3 mt-2 mb-4">
                        <span class="d-block">{{ "Select quantity"|trans }}:</span>
                        <div class="col-md-2">
                            <div class="input-group input-spinner">
                                <a href="{{ path('cart_remove', {id: product.id}) }}" type="button" class="button-minus btn btn-sm" data-field="quantity">-</a>
                                <a href="{{ path('cart_add', {id: product.id}) }}" type="button" class="button-plus btn btn-sm" data-field="quantity">+</a>
                            </div>
                        </div>
                    </div>
                    #}
                    <div class="mb-4">{{ product.content|html_markdown_excerpt(164) }}</div>
                    <div class="d-grid">
                        {% if product.stock > 0 %}
                            <a href="{{ path('cart_add', { id : product.id }) }}" class="btn btn-primary mb-0 w-100">
                                <i class="fas fa-cart-shopping me-2"></i>{{ 'Add to Cart'|trans }}
                            </a>
                        {% else %}
                            <p class="fw-bold text-danger mb-0">{{ 'Temporarily out of stock'|trans }}</p>
                        {% endif %}
                        <p class="mb-0 mt-2 text-end small">
                            <i class="fas fa-question text-primary me-2"></i>{{ 'Need help?'|trans }} 
                            <a href="{{ path('contact') }}" class="mb-0">{{ 'Chat Now'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#
    <section class="pt-0">
        <div class="container">
            <h2 class="h4 mb-3">{{ 'Specification'|trans }}</h2>
            <p class="mb-5">Please note that this is a generic example, and actual specifications may vary depending on the specific mobile phone model and brand. Mobile phone specifications typically include information about the display, performance, camera capabilities, battery, operating system, connectivity options, and additional features. Please note that this is a generic example, and actual specifications may vary depending on the specific mobile phone model and brand.</p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex mb-4">
                        <span class="w-150px w-sm-200px">Model:</span>
                        <p class="heading-color fw-normal w-auto mb-0">Mizz-ZX</p>
                    </div>
                    <div class="d-flex mb-4">
                        <span class="w-150px w-sm-200px">Operating System:</span>
                        <p class="heading-color fw-normal w-auto mb-0">Android 12 with XYZ UI</p>
                    </div>
                    <div class="d-flex mb-4">
                        <span class="w-150px w-sm-200px">Dimensions:</span>
                        <p class="heading-color fw-normal w-auto mb-0">160 x 75 x 7.5 mm</p>
                    </div>
                    <div class="d-flex mb-4">
                        <span class="w-150px w-sm-200px">Weight:</span>
                        <p class="heading-color fw-normal w-auto mb-0">165 grams</p>
                    </div>
                    <div class="d-flex mb-4">
                        <p class="w-150px w-sm-200px">Display:</p>
                        <ul class="list-group list-group-borderless">
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Screen Size: 6.5 inches</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Type: Super AMOLED</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Resolution: 1080 x 2340 pixels</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Refresh Rate: 120Hz</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">HDR Support: Yes</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex mb-4">
                        <span class="w-150px w-sm-200px">Battery:</span>
                        <ul class="list-group list-group-borderless">
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">4,500mAh</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">25W Fast Charging</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Wireless Charging (15W)</li>
                        </ul>
                    </div>
                    <div class="d-flex mb-4">
                        <span class="w-150px w-sm-200px">Camera:</span>
                        <ul class="list-group list-group-borderless">
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Main Camera 48MP</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Ultra-Wide 12MP</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Telephoto 8MP</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Macro 2MP</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Front Camera 20MP</li>
                            <li class="list-group-item heading-color fw-normal w-auto pb-0">Video Recording 4K at 30fps</li>
                        </ul>
                    </div>
                    <div class="d-flex mb-4">
                        <span class="w-150px w-sm-200px">Colors:</span>
                        <p class="heading-color fw-normal w-auto mb-0">Black, Arctic White, and Ocean Blue</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    #}
    {% if product.enablereviews %}
        <section class="pt-0">
            <div class="container">
                <h2 class="h4 mb-5">{{ 'Rating and review'|trans }}</h2>
                <div class="row">
                    <div class="col-lg-5 pe-lg-5 mb-5 mb-lg-0">
                        <div class="border rounded-2 p-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <h2 class="mb-0">{{ reviewscount }} {{ "review"|trans|lower }}</h2>
                                    <div class="rating-wrap">
                                        <ul class="list-inline mb-2 rating-stars">
                                            <li style="width:{{product.getRatingPercentage}}%" class="list-inline-item me-0 stars-active">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">
                                            {{ product.getRatingAvg }} {{"out of 5 stars"|trans|lower}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm bg-warning bg-opacity-15 w-100 me-3">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ product.getRatingsPercentageForRating(5) }}%;" aria-valuenow="{{ product.getRatingsPercentageForRating(5) }}" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="heading-color">5</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm bg-warning bg-opacity-15 w-100 me-3">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ product.getRatingsPercentageForRating(4) }}%;" aria-valuenow="{{ product.getRatingsPercentageForRating(4) }}" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="heading-color">4</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm bg-warning bg-opacity-15 w-100 me-3">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ product.getRatingsPercentageForRating(3) }}%;" aria-valuenow="{{ product.getRatingsPercentageForRating(3) }}" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="heading-color">3</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm bg-warning bg-opacity-15 w-100 me-3">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ product.getRatingsPercentageForRating(2) }}%;" aria-valuenow="{{ product.getRatingsPercentageForRating(2) }}" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="heading-color">2</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm bg-warning bg-opacity-15 w-100 me-3">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ product.getRatingsPercentageForRating(1) }}%;" aria-valuenow="{{ product.getRatingsPercentageForRating(1) }}" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="heading-color">1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            {% if product.images|length > 0 %}
                                <h5 class="mb-4">{{ "Reviews with images"|trans }}</h5>
                                <div class="row g-4">
                                    {% for image in product.images %}
                                        <div class="col-4 col-sm-2 col-lg-3">
                                            <a class="w-100 h-100" data-glightbox="" data-gallery="gallery" href="{{ asset(image.getImagePath) }}" data-size="{{ image.imageDimensions[0] }}x{{ image.imageDimensions[1] }}">
                                                <div class="card card-element-hover overflow-hidden">
                                                    <img src="{{ image.getImagePath|imagine_filter('thumbnail') }}" class="rounded-3" alt="{{ product.name }}">
                                                    <div class="hover-element w-100 h-100">
                                                        <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-0"></h5>
                            <div class="col-xl-4 text-end">
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    {% if is_granted('ROLE_VERIFIED') and is_granted('ROLE_USER') %}
                                        {% if product.isRatedBy(app.user) %}
                                            <a href="{{ path('dashboard_account_review_index', { slug: product.isRatedBy(app.user).slug }) }}" class="btn btn-primary-soft mb-0">
                                                <i class="far fa-star me-2"></i>
                                                {{ "My review"|trans }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('dashboard_account_review_new', { slug: product.slug }) }}" class="btn btn-primary-soft mb-0">
                                                <i class="fas fa-plus me-2"></i>
                                                {{ "Add your review"|trans }}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('signin', {redirect: app.request.pathInfo}) }}" class="btn btn-primary-soft mb-0">
                                        <i class="fas fa-plus me-2"></i>
                                        {{ "Add your review"|trans }}
                                    </a>
                                {% endif %}
                            </div>	
                        </div>
                        <hr class="my-4">
                        {% if reviewscount|length %}
                            <div id="reviews">
                                {% for review in setting.getReviews({"shop_product": product.slug, "limit": 8}).getQuery().getResult() %}
                                    {% include "global/user-review.html.twig" with { review: review, showuser: 1 } %}
                                {% endfor %}
                                {% if reviewscount > 8 %}
                                    <div class="mt-4 text-end">
                                        <a href="{{ path('shop_reviews') }}" class="btn btn-primary-soft mb-0">
                                            <i class="far fa-star-half-full"></i>
                                            {{ "See all %reviewscount% reviews"|trans({'%reviewscount%': reviewscount}) }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="pt-0">
        <div class="container">
            <h2 class="h4 mb-5">{{ 'Similar products'|trans }}</h2>
            <div class="row">
                {% for product in similarProducts %}
                    {% include "global/product-card.html.twig" with {product: product, thumbnailsize: [241, 241]} %}
                {% else %}
                    {% component alert with {type: 'info', closeButton: false, class: 'my-2'} %}
                        {% block content %}
                            {{ 'There are no similar products yet.'|trans }}
                        {% endblock %}
                    {% endcomponent %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
