<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		{% if header is not defined or header != false %}
			<thead class="">
				<tr>
					<th>#</th>
					<th>{{ 'Name'|trans }}</th>
					<th>{{ 'Content'|trans }}</th>
					<th></th>
				</tr>
			</thead>
		{% endif %}
		<tbody>
			{% for product in rows %}
				{% set link = path('dashboard_admin_product_edit', { id : product.id }) %}
				<tr>
					<td>{{ product.id }}</td>
					<td>
						<div class="d-flex align-items-center">
							<div>
								<img src="{{ product.imageName ? asset(product.getImagePath) : product.getImagePlaceholder }}" alt="{{ product.brand.name }} - {{ product.name }}" class="img-4by3-lg rounded">
							</div>
							<div class="ms-3">
								<h6 class="mb-1">
									<a href="{{ link }}" target="_blank">
										{{ product.name }}
									</a>
									{# <span class="small text-muted ms-1">#{{ product.reference }}</span> #}
								</h6>
								<p class="heading-color fw-normal small mb-2">
									{{ 'Published the'|trans }}: 
									<span class="text-primary">{{ product.createdAt ? product.createdAt | format_date('long') : '' }}</span>
								</p>
							</div>
						</div>
					</td>
                    <td>
						<p class="heading-color fw-normal small mb-2">
							{{ product.content | html_markdown_excerpt(72) }}
						</p>
						<ul class="nav nav-divider small align-items-center">
							<li class="nav-item">{{ 'SubCategory'|trans }}: 
								<b class="badge" style="background-color: {{ product.subCategories[0].color }}">
									{{ product.subCategories[0].name }}
								</b>
							</li>
							<li class="nav-item">{{ 'Stock'|trans }}: 
								{% if product.stock > 0 %}
									<b>{{ product.stock }}</b>
								{% else %}
									<b class="text-danger">{{ 'Out of stock'|trans }}</b>
								{% endif %}
							</li>
							<li class="nav-item">{{ 'Price'|trans }}: 
								<b>
									{{ (settings['currency_position']  == 'left' ? settings['currency_symbol'] : '') ~ product.price ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}
								</b>
							</li>
							<li class="nav-item">{{ 'Brand'|trans }}: 
								<b>{{ product.brand.name }}</b>
							</li>
						</ul>
                    </td>
					<td>
						<div class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
								<a class="dropdown-item" href="{{ link }}">
									<i class="fas fa-pencil fa-fw dropdown-item-icon"></i>
									{{ 'Edit'|trans }}
								</a>
								<a class="dropdown-item" href="{{ path('dashboard_admin_product_show', {id : product.id }) }}">
									<i class="fas fa-eye fa-fw dropdown-item-icon"></i>
									{{ 'Show'|trans }}
								</a>
								<a class="dropdown-item" href="{{ path('dashboard_admin_product_add_stock', {id : product.id }) }}">
									<i class="fas fa-plus fa-fw dropdown-item-icon"></i>
									{{ 'Stock'|trans }}
								</a>
								<a href="#" onclick="event.preventDefault(); confirm('{{ "Are you sure you want to delete this item?"|trans }}') && document.getElementById('js-product-delete-form').submit();" class="dropdown-item">
									<i class="fas fa-trash fa-fw dropdown-item-icon"></i>
									{{ 'Delete'|trans }}
								</a>
								<form id="js-product-delete-form" action="{{ path('dashboard_admin_product_delete', {id : product.id }) }}" method="post" class="">
									<input type="hidden" name="_token" value="{{ csrf_token('product_deletion_' ~ product.id) }}">
									<input type="hidden" name="_method" value="DELETE">
								</form> 
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if pagination is not defined or pagination != false %}
		<div class="card-footer bg-transparent text-end p-0">
			{{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
		</div>
	{% endif %}
</div>
