{% extends 'page.html.twig' %}

{% set pagetitle = 'Blog'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="py-8">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 col-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 fw-bold">{{ pagetitle }}</h1>
                        <p class="lead">{{ "%resultsCount% post(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</p>
						<a href="{{ path('search_post') }}" class="btn btn-primary">
                            <i class="bi bi-search"></i>
							{{ "Search for posts"|trans }}
						</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="pb-8">
        <div class="container">
            <div class="row">
                {% for post in rows %}
                    {% include "global/post-card.html.twig" with {post: post, thumbnailsize: [397, 397], showdate: 1} %}
                {% endfor %}
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 my-4">
                    {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
