{% extends 'base.html.twig' %}

{% set pagetitle = 'Blog'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="d-lg-flex justify-content-between align-items-center">
                <h4 class="mb-3 mb-lg-0">{{ 'Our Blog'|trans }}</h4>
                <ul class="nav nav-pills gap-1 nav-pills-light">
                    <li class="nav-item">
                        <a href="{{ path('posts') }}" class="nav-link active">
                            {{ 'All blog'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            {{ 'Marketing'|trans }}
                        </a>          
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            {{ 'Design'|trans }}
                        </a>        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            {{ 'Lifestyle'|trans }}
                        </a>        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            {{ 'Technology'|trans }}
                        </a>        
                    </li>
                </ul>
            </div>
            {% if rows.getTotalItemCount > 0 %}
                <div class="row g-4 g-sm-5 g-xl-7 mt-0">
                    {% for post in rows %}
                        {% include "global/post-card.html.twig" with {post: post, thumbnailsize: [397, 397], showdate: 1} %}
                    {% endfor %}
                </div>
                <div class="row mt-7">
                    <div class="col-12 mx-auto">
                        {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
                    </div>
                </div>
            {% else %}
                {% include "global/message.html.twig" with { type: "dark", message: ('No posts found'|trans), icon: "fas fa-exclamation", class: "my-2" } %}
            {% endif %}
        </div>
    </section>
{% endblock %}
