{% extends 'base.html.twig' %}

{% set pagetitle = 'Color '|trans ~ color.name %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard' | trans), "dashboard_admin_product_color_index": 'Manage colors'|trans, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive overflow-y-hidden">
                        <table class="table table-borderless table-striped table-hover table-sm">
                            <thead class="">
                                <tr>
                                    <th colspan="2">
                                        <i class="fas fa-file text-muted"></i>
                                        {{ "General information"|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="30%">#</th>
                                    <td>{{ color.id }}</td>
                                </tr>
                                <tr>
                                    <td width="30%">{{ 'Name'|trans }}</th>
                                    <td>{{ color.name }}</td>
                                </tr>
                                <tr>
                                    <td width="30%">{{ 'Display in search'|trans }}</th>
                                    <td>{{ color.displayInSearch }}</td>
                                </tr>
                                <tr>
                                    <td width="30%">{{ 'Hex'|trans }}</th>
                                    <td style="color: {{ color.hex }}">{{ color.hex }}</td>
                                </tr>
                                <tr>
                                    <td width="30%">{{ 'Status'|trans }}</th>
                                    <td>
                                        {% if color.isActive == false %}
                                            <span class="badge bg-danger">
                                                <i class="fas fa-eye-slash"></i>
                                                {{ "Offline"|trans }}
                                            </span>
                                        {% else %}
                                            <span class="badge bg-success">
                                                <i class="fas fa-eye"></i>
                                                {{ "Online"|trans }}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%">{{ 'Creation date'|trans }}</th>
                                    <td>{{ color.createdAt ? color.createdAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                                <tr>
                                    <td width="30%">{{ 'Update date'|trans }}</th>
                                    <td>{{ color.updatedAt ? color.updatedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex pb-3 my-3">
                        <a href="{{ path('dashboard_admin_product_color_index') }}" class="btn btn-sm btn-dark me-2">
                            <i class="fas fa-list fa-fw"></i>
                        </a>
                        <a href="{{ path('dashboard_admin_product_color_edit', {'id': color.id}) }}" class="btn btn-primary btn-sm me-2">
                            <i class="fas fa-pencil fa-fw"></i>
                        </a>
                        {{ include('dashboard/admin/products/color/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
