<li class="nav-item">
	<a class="nav-link {{ this.active ? 'active' }}" {{ this.active ? 'aria-current="page"' }} href="{{ path(route) }}">
		<i class="{{ this.icon}} fa-fw me-2"></i>
		{{ label|trans }}
	</a>
</li>
