{% extends 'base.html.twig' %}

{% set pagetitle = 'Help center categories '|trans ~ category.name %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard' | trans), "dashboard_admin_help_center_category_index": 'Manage help center categories'|trans, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive overflow-y-hslugden">
                        <table class="table table-borderless table-striped table-hover table-sm">
                            <thead class="">
                                <tr>
                                    <th colspan="2">
                                        <i class="fas fa-file fa-fw text-muted"></i>
                                        {{ "General information"|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td wslugth="30%">#</th>
                                    <td>{{ category.id }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Name'|trans }}</th>
                                    <td>{{ category.name }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Slug'|trans }}</th>
                                    <td>{{ category.slug }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Color'|trans }}</th>
                                    <td style="color: {{ category.color }}">{{ category.color }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Icon'|trans }}</th>
                                    <td><i class="{{ category.icon }} fa-2x fa-fw"></i></td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Status'|trans }}</th>
                                    <td>
                                        {% if category.isOnline == false %}
                                            <span class="badge bg-danger">
                                                <i class="fas fa-eye-slash fa-fw"></i>
                                                {{ "Offline"|trans }}
                                            </span>
                                        {% else %}
                                            <span class="badge bg-success">
                                                <i class="fas fa-eye fa-fw"></i>
                                                {{ "Online"|trans }}
                                            </span>
                                        {% endif %}
                                        {% if category.deletedAt %}
                                            <span class="badge bg-danger-soft">
                                                <i class="fas fa-times fa-fw"></i>
                                                {{ "Deleted"|trans }}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Creation date'|trans }}</th>
                                    <td>{{ category.createdAt ? category.createdAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Update date'|trans }}</th>
                                    <td>{{ category.updatedAt ? category.updatedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                                <tr>
                                    <td wslugth="30%">{{ 'Deleted date'|trans }}</th>
                                    <td>{{ category.deletedAt ? category.deletedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex pb-3 my-3">
                        <a href="{{ path('dashboard_admin_help_center_category_index') }}" class="btn btn-sm btn-dark me-2">
                            <i class="fas fa-list fa-fw"></i>
                        </a>
                        <a href="{{ path('dashboard_admin_help_center_category_edit', {'slug': category.slug}) }}" class="btn btn-primary btn-sm me-2">
                            <i class="fas fa-pencil fa-fw"></i>
                        </a>
                        {{ include('dashboard/admin/helpCenter/category/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
